//
// Hashicorp Nav (header/footer) Utiliy Vars and Mixins
//
// Notes:
// - Include this in Application.scss before header and feature-footer
// - Open Sans Google (Semibold - 600) font needs to be included if not already
// --------------------------------------------------

// Variables
$font-family-open-sans:	'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font-family: $font-family-klav;
$header-font-weight: 400; // semi-bold

$header-height: 74px;
$header-mobile-height: 60px;
$by-hashicorp-width: 74px;
$by-hashicorp-height: 16px;
$nav-margin-right: 12px;

// Mixins
@mixin hashi-a-style-core{
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  font-size: 14px;
  //letter-spacing: 0.0625em;
}

@mixin hashi-a-style{
  margin: 0 15px;
  padding: 0;
  line-height: 22px;
  @include hashi-a-style-core();
  @include transition( color 0.3s ease );

  &:hover{
    @include transition( color 0.3s ease );
    background-color: transparent;
  }
}

@mixin img-retina($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);
  background-repeat: no-repeat;
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx){
    & {
      background-image: url($file + '@2x.' + $type);
      -webkit-background-size: $width $height;
      -moz-background-size: $width $height;
      -o-background-size: $width $height;
      background-size: $width $height;
    }
  }
}

@mixin skewY($skew) {
	-webkit-transform: skewY($skew);
  -moz-transform: skewY($skew);
  -ms-transform: skewY($skew);
  -o-transform: skewY($skew);
  transform: skewY($skew);
}

//
// -------------------------
@mixin anti-alias() {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@mixin open-light() {
  font-family: $font-family-open-sans;
  font-weight: 300;
}

@mixin open() {
  font-family: $font-family-open-sans;
  font-weight: 400;
}

@mixin open-sb() {
  font-family: $font-family-open-sans;
  font-weight: 600;
}

@mixin open-bold() {
  font-family: $font-family-open-sans;
  font-weight: 700;
}

@mixin bez-1-transition{
  @include transition( all 300ms ease-in-out );
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}
