//
// Mixins Specific to project
//  - make edits to mixins here
// --------------------------------------------------

// Variables
$header-height: 92px;
$project-logo-width: 49px;
$project-logo-height: 56px;
$project-logo-pad-left: 8px;

// Mixins
@mixin project-a-style{
  color: $white;
  opacity: .75;
  font-family: $font-family-klav;

  &:hover{
    color: $white;
    opacity: 1;
  }
}

.brand-hashi{
  font-weight: $font-weight-medium;
}

//hashicorp button classes
.hbtn{
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-family: $font-family-klav;
  font-size: 18px;
  padding: 6px 12px;
  font-weight: 600;
  background-color: $white;
  color: $black;

  &.lrg{
    font-size: 20px;
    padding: 10px 36px;
  }

  &.outline{
    background-color: transparent;
    border: 1px solid $white;
  }

  &.orange{
    color: $black;
    background-color: $orange;
  }

  &.blue{
    color: $white;
    background-color: $blue;
  }

  &.plain{
    background-color: transparent;
    border: none;
    padding-left: 0;

    &.blue{
      color: $blue;
    }

    &.careted{
      &:hover{
        text-decoration: none;
        .hcaret{
          right: -3px;
          @include transition(right .1s ease-in);
        }
      }
    }
  }
}

.hcaret{
  display: inline-block;
  position: absolute;
  -webkit-transform: rotate(135deg);
  width: 9px;
  height: 9px;
  top: 50%;
  right: 0;
  margin-top: -6px;
  border-top: 2px solid $black;
  border-left: 2px solid $black;
  @include transition(right .1s ease-in);

  &.blue{
    border-top: 2px solid $blue;
    border-left: 2px solid $blue;
  }

  &.vagrant{
    border-top: 2px solid $vagrant-color;
    border-left: 2px solid $vagrant-color;
  }

  &.packer{
    border-top: 2px solid $packer-color;
    border-left: 2px solid $packer-color;
  }

  &.serf{
    border-top: 2px solid $serf-color;
    border-left: 2px solid $serf-color;
  }

  &.consul{
    border-top: 2px solid $consul-color;
    border-left: 2px solid $consul-color;
  }

  &.terraform{
    border-top: 2px solid $terraform-color;
    border-left: 2px solid $terraform-color;
  }

  &.vault{
    border-top: 2px solid $vault-color;
    border-left: 2px solid $vault-color;
  }

  &.nomad{
    border-top: 2px solid $nomad-color;
    border-left: 2px solid $nomad-color;
  }

  &.otto{
    border-top: 2px solid $otto-color;
    border-left: 2px solid $otto-color;
  }
}

// keyframe animations
// -------------------------------------
@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -moz-transform: scale(0);
        opacity: 0.1;
    }
    50% {
        -moz-transform: scale(0.1);
        opacity: 0.3;
    }
    75% {
        -moz-transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0.0;
    }
}
@-moz-keyframes pulse1 {
    0% {
        -moz-transform: scale(0);
        opacity: 0;
        background-color: $serf-color;
    }
    20% {
        -moz-transform: scale(.1);
        opacity: 0;
        background-color: $serf-color;
    }
    40% {
        -moz-transform: scale(.4);
        opacity: .4;
        background-color: $serf-color;
    }
    60% {
        -moz-transform: scale(.7);
        opacity: .6;
        background-color: $serf-color;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0;
        background-color: transparent;
    }
}
@-webkit-keyframes pulse1 {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
        background-color: $serf-color;
    }
    20% {
        -webkit-transform: scale(.1);
        opacity: 0;
        background-color: $serf-color;
    }
    40% {
        -webkit-transform: scale(.4);
        opacity: .4;
        background-color: $serf-color;
    }
    60% {
        -webkit-transform: scale(.7);
        opacity: .6;
        background-color: $serf-color;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
        background-color: transparent;
    }
}
@-moz-keyframes bounce {
    0% {
        opacity: 0;
        -moz-transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
        opacity: 1;
        -moz-transform: translateY(30px) rotate(-45deg);
    }
    80% {
        -moz-transform: translateY(-10px) rotate(-45deg);
    }
    100% {
        -moz-transform: translateY(0) rotate(0);
    }
}
@-webkit-keyframes bounce {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(30px) rotate(-45deg);
    }
    80% {
        -webkit-transform: translateY(-10px) rotate(-45deg);
    }
    100% {
        -webkit-transform: translateY(0) rotate(0);
    }
}
@keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
        opacity: 1;
        transform: translateY(30px) rotate(-45deg);
    }
    80% {
        transform: translateY(-10px) rotate(-45deg);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}
