//
// Mixins Specific to project
//  - make edits to mixins here
// --------------------------------------------------

// Variables
$header-height: 92px;
$project-logo-width: 49px;
$project-logo-height: 56px;
$project-logo-pad-left: 8px;

// Mixins
@mixin project-a-style{
  color: $blue-light;

  &:hover{
    color: $blue;
  }
}

//hashicorp button classes
.hbtn{
  padding: 10px 4px;

  &.orange{
    display: inline-block;
    color: $black;
    background-color: $orange;
    text-transform: uppercase;
    padding: 10px 4px;
  }
}
