// partners

// Media breakpoints (using BS 3.2 nomenclature)
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);


.partners {
	.intropart {
		background-color: #f7f7f9;
	}
	
	.sipart {
		background-color: #f7f7f9;
		text-align: center;

		h1 {
			color: @black;
		}

		.panel {
			.panel-heading {
				background-color: @gray;
			}

			h2 {
				text-align: center;
				margin-bottom: 0px;
				color: @white;
				.lato-light();
			}
			
			img {
				padding: 5px;
			}

			p {
				color: @black;
			}

			.atbottom {
				vertical-align: bottom;
				}

			a.contactus {
				margin-top: 20px;
			}

			// To lock in panel sizes for a clean grid layout. 
			@media (max-width: @screen-xs-max) { // mobile, single column, let it flow
				h2.pname {
					}
				img.plogo {
					}
				p.ptagline {
					}
				p.plocations {
					}
				p.pldesc {
					color: @medium-gray-text;
				}
			}

			@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { // tablet
				h2.pname {
					min-height: 34px;
					max-height: 34px;
					overflow: hidden;
					}
				img.plogo {
					min-height: 200px;
					max-height: 200px;
					overflow: hidden;
					}
				p.ptagline {
					min-height: 54px;
					max-height: 54px;
					overflow: hidden;
					}
				p.plocations {
					min-height: 27px;
					max-height: 27px;
					overflow: hidden;
					}
				p.pldesc {
					min-height:200px;
					max-height:200px;
					overflow:hidden;
					color: @medium-gray-text;
				}
			}

			@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { // desktop
				h2.pname {
					min-height: 34px;
					max-height: 34px;
					overflow: hidden;
					}
				img.plogo {
					min-height: 160px;
					max-height: 160px;
					overflow: hidden;
					}
				p.ptagline {
					min-height: 54px;
					max-height: 54px;
					overflow: hidden;
					}
				p.plocations {
					min-height: 27px;
					max-height: 27px;
					overflow: hidden;
					}
				p.pldesc {
					min-height:250px;
					max-height:250px;
					overflow:hidden;
					color: @medium-gray-text;
				}
			}

			@media (min-width: @screen-lg-min) { // large desktop
				h2.pname {
					min-height: 34px;
					max-height: 34px;
					overflow: hidden;
					}
				img.plogo {
					min-height: 160px;
					max-height: 160px;
					overflow: hidden;
					}
				p.ptagline {
					min-height: 54px;
					max-height: 54px;
					overflow: hidden;
					}
				p.plocations {
					min-height: 27px;
					max-height: 27px;
					overflow: hidden;
					}
				p.pldesc {
					min-height:200px;
					max-height:200px;
					overflow:hidden;
					color: @medium-gray-text;
				}
			}
		}
	}

    article {
        padding: 80px 0;

        &:first-child {
            padding: 40px 0 80px;
        }

        h2 {
            font-size: 28px;
        }

    }

    h1 {
        padding: 0 0 60px 0;
        color: @black;
        text-transform: uppercase;
        letter-spacing: 3px;
        .lato-bold;
        font-size: 35px;
        line-height: 42px;
		text-align: center;
    }

    img{
        max-width: 100%;
        height: auto;
    }

    .meta-wrap{
        position: relative;

        a{
            &:hover{
                text-decoration: underline;
                color: @blue;
            }
        }

        .meta{
            position: relative;
            font-size: 12px;
            text-transform: uppercase;
            margin-right: 18px;
            color: @light-gray-text;

            &.meta-tag {
                margin-right: 0px;
            }

            &::after{
                content: '';
                position: absolute;
                top: 5px;
                right: -12px;
                width: 3px;
                height: 3px;
                border-radius: 3px;
                background-color: @lightgray;
            }

            &.last{
                &::after{
                    display: none;
                }
            }
        }
    }

    pre {
        margin-top: @base-line-height;
    }

    .big-background {
        background-color: @black !important;
        color: @white;

        .date {
            color: @white;
        }

        img {
            opacity: .7;
            background: @black;
        }
    }

	.techparts {
		color: @white;
		background-color: @white;
		text-align: center;

		ul.techpart-logos {
			position: relative;
			width: 100%;
			.clearfix;
			padding: 0;

			li {
				float: left;
				width: 33.3333%;
				height: 128px;
				overflow: hidden;

				&.tpart{
					background: url(/images/techpart-sprite.png) 0 0 no-repeat;
					.img-retina("/images/techpart-sprite.png", "/images/techpart-sprite@2x.png", 1130px, 256px);
				}

				&.tp1 {
					background-position: 0px 0;
				}
				&.tp2 {
					background-position: -380px 0;
				}
				&.tp3 {
					background-position: -760px 0;
				}
				&.tp4 {
					background-position: 0px -128px;
				}
				&.tp5 {
					background-position: -380px -128px;
				}
				&.tp6 {
					background-position: -760px -128px;
				}
			} // li
		} //ul
	}

	@media (max-width: 1200px) {
		.techparts {
			ul.techpart-logos {
				li {
					width: 33.3333%;
				}
			}
		}
	}


	@media (min-width: 721px) and (max-width: 992px) {
		.techparts ul.techpart-logos li{
			width: 50%;
		}
	}

	@media (max-width: 720px) {
		.techparts ul.techpart-logos li{
			width: 50%;
		}
	}

	@media (max-width: 480px) {
		.techparts ul.techpart-logos li{
			width: 100%;
		}
	}

	@media (max-width: 320px) {
		.techparts ul.techpart-logos li{
			background-position: 0 0;
			width: 100%;
			/* float:left; */
			margin: 0 auto;
			display: block;
			float:  none
		}
	}

}

