<div class="row">
  <div class="col-md-8 col-md-offset-2 atlas-highlights-header">
    <h2>Why Use the HashiCorp <span>Atlas</span> as your Enterprise Delivery Pipeline?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique mauris hendrerit non. Proin bibendum nec magna ut lacinia. Cras vel consectetur nibh. Vivamus commodo, tortor at suscipit non pretium justo. Nam eu rutrum turpis. Duis scelerisque gravida rutrum.</p>
  </div>
</div>
<div class="row atlas-highlights-flex">
  <div class="atlas-highlights-item">
    <h2>Automate</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique tristique mauris hendrerit.</p>
  </div>
  <div class="atlas-highlights-item">
    <h2>Automate</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique tristique mauris hendrerit.</p>
  </div>
  <div class="atlas-highlights-item">
    <h2>Automate</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique tristique mauris hendrerit.</p>
  </div>
  <div class="atlas-highlights-item">
    <h2>Automate</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique tristique mauris hendrerit.</p>
  </div>
</div>
