<div class="row">
  <div class="col-md-8 col-md-offset-2 atlas-highlights-header">
    <h2>Why use <span class="brand-hashi">HashiCorp</span> <span>Atlas</span> for enterprise application delivery?</h2>
    <p>
    </p>
  </div>
</div>
<div class="row atlas-highlights-flex">
  <div class="atlas-highlights-item automate">
    <span class="graphic"></span>
    <h2>Automated</h2>
    <p>
      Atlas is built to enable a fully automated workflow
      for application delivery, with gating, alerts and auditing.
    </p>
  </div>
  <div class="atlas-highlights-item self">
    <span class="graphic"></span>
    <h2>Self Service Workflow</h2>
    <p>
      Developers can focus on deploying applications to solve business cases, and
      operation teams can use Atlas to deliver a platform for delivery, all while
      setting constraints on access and security.
    </p>
  </div>
  <div class="atlas-highlights-item pipeline">
    <span class="graphic"></span>
    <h2>Pipeline Delivery</h2>
    <p>
      Application versions can be promoted across environments, from development
      to production, to safely test and verify changes.
    </p>
  </div>
  <div class="atlas-highlights-item collab">
    <span class="graphic"></span>
    <h2>Collaboration</h2>
    <p>
      Teams can be defined and constrained to specific resources, infrastructure changes
      verified and all actions are tied to specific users.
    </p>
  </div>
</div>
