<div class="row">
  <div class="col-md-8 col-md-offset-2 atlas-highlights-header">
    <h2>Why use <span class="brand-hashi">HashiCorp</span> <span>Atlas</span> is the Application Delivery Platform for Enterprises</h2>
    <p>
    </p>
  </div>
</div>
<div class="row atlas-highlights-flex">
  <div class="atlas-highlights-item automate">
    <span class="graphic"></span>
    <h2>Alerts</h2>
    <p>
      Get notified when new application versions are deployed, infrastructure configurations change,
      environment health goes critical, and more.
    </p>
  </div>
  <div class="atlas-highlights-item self">
    <span class="graphic"></span>
    <h2>Self-Service Workflow</h2>
    <p>
      Enable developers to rapidly deploy with an automated, policy-enforced workflow.
      The flexibility of Atlas allows operators to tailor the platform to their environment,
      while still presenting a simple self-service workflow to developers.
    </p>
  </div>
  <div class="atlas-highlights-item pipeline">
    <span class="graphic"></span>
    <h2>Pipeline Delivery</h2>
    <p>
      Promote application versions across environments to safely test and verify changes
      before deploying to production.
    </p>
  </div>
  <div class="atlas-highlights-item collab">
    <span class="graphic"></span>
    <h2>Collaboration</h2>
    <p>
      Collaborate on application and infrastructure changes, set resource permissions per user,
      and associate every change with a specific user.
    </p>
  </div>
</div>
