<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="section-header">
        <h1>Pricing</h1>
      </div>
      <div class="row pricing">
        <div class="col">
          <div class="pricing-header">
            <h4>Free</h4>
            <h1 class="pricing-number">0</h1>
            <p>
              up to 10 <a href="#">managed nodes</a>
            </p>
          </div> <!-- .pricing-header -->
          <div class="pricing-features">
            <div class="ul-wrap">
            <ul>
              <li>Unlimited Vagrant Boxes</li>
              <li>Unlimited Packer Builds</li>
              <li>Unlimited Applications</li>
              <li>Consul Auto-Join</li>
            </ul>
            </div>
          </div> <!-- .pricing-features -->
        </div>
        <div class="col">
          <div class="pricing-header">
            <h4>Standard</h4>
            <h1 class="pricing-number">40</h1>
            <p>
              per <a href="#">managed node</a> per month
            </p>
          </div> <!-- .pricing-header -->
          <div class="pricing-features">
            <div class="ul-wrap">
            <ul>
              <li>Unlimited Vagrant Boxes</li>
              <li>Unlimited Packer Builds</li>
              <li>Unlimited Applications</li>
              <li>Consul Auto-Join</li>
            </ul>
            <ul class="ul-2">
              <li>10 Free Managed Nodes</li>
              <li>10 Free Managed Nodes</li>
              <li>Consul Alerts</li>
              <li>Consul Monitoring UI</li>
              <li>Terraform Remote State Storage</li>
              <li>Email Support</li>
            </ul>
            </div>
          </div> <!-- .pricing-features -->
        </div> <!-- .col -->
        <div class="col">
          <div class="pricing-header">
            <h4>Enterprise</h4>
            <h1>Contact</h1>
            <p>
              per <a href="#">managed node</a> per month
            </p>
          </div> <!-- .pricing-header -->
          <div class="pricing-features">
            <div class="ul-wrap">
            <ul>
              <li>Unlimited Vagrant Boxes</li>
              <li>Unlimited Packer Builds</li>
              <li>Unlimited Applications</li>
              <li>Consul Auto-Join</li>
            </ul>
            <ul class="ul-2">
              <li>10 Free Managed Nodes</li>
              <li>10 Free Managed Nodes</li>
              <li>Consul Alerts</li>
              <li>Consul Monitoring UI</li>
              <li>Terraform Remote State Storage</li>
              <li>Email Support</li>
            </ul>
            <ul class="ul-3">
              <li>Phone Support with SLA</li>
              <li>Enterprise Installation Options</li>
            </ul>
            </div>
          </div> <!-- .pricing-features -->
        </div>
      </div>
    </div>
  </div>
