<div class="container contact-form">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
      <div class="form-header">
        <h1>Request a demo to get started with HashiCorp Atlas.</h1>
        <p>A HashiCorp solutions engineer will be in touch to help demonstrate how Atlas can be used in your infrastructure.</p>
      </div>
      <div class="row">
        <form action="index.html" method="post">
          <div class="left">
            <input type="text" name="name" value="" placeholder="Name">
            <input type="text" name="company" value="" placeholder="Company">
            <input type="text" name="email" value="" placeholder="Email">
          </div>
          <div class="right">
            <textarea name="message" value="" placeholder="Message"></textarea>
          </div>
          <div class="bottom">
            <button class="hbtn orange careted" type="button">Submit Message<span class="hcaret"></span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
