<!-- footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-xs-4">
        <div class="navbar-brand ">
          <a class="logo" href="/"><img src="/images/v2/hashicorp.svg" alt="Hashicorp" width="33px" height="36px">HashiCorp</a>
        </div>
        <div class="social-links">
          <ul>
            <li class="twitter"><a href="https://twitter.com/hashicorp"></a></li>
            <li class="github"><a href="https://github.com/hashicorp"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 footer-links">
        <h4>
          Navigation
        </h4>
        <ul>
          <li><a href="/about.html">About Us</a></li>
          <li><a href="/tao.html">The Tao of HashiCorp</a></li>
          <li><a href="/community-guidelines.html">Community Guidelines</a></li>
          <li><a href="/jobs.html">Jobs</a></li>
          <li><a href="/blog.html">Blog</a></li>
          <li><a href="/press.html">Press</a></li>
          <li><a href="/partners.html">Partners</a></li>
          <li><a href="mailto:hello@hashicorp.com">Contact</a></li>
          <li><a href="/security.html">Security</a></li>
        </ul>
      </div> <!-- col -->

      <div class="col-md-2 col-xs-4 footer-links">
        <h4>Product Sites</h4>
        <ul>
          <li><a href="/atlas.html">Atlas</a></li>
          <li><a target="_blank" href="https://www.consul.io">Consul</a></li>
          <li><a target="_blank" href="https://www.nomadproject.io/">Nomad</a></li>
          <li><a target="_blank" href="https://www.ottoproject.io/">Otto</a></li>
          <li><a target="_blank" href="https://www.packer.io">Packer</a></li>
          <li><a target="_blank" href="https://www.serfdom.io">Serf</a></li>
          <li><a target="_blank" href="https://www.terraform.io">Terraform</a></li>
          <li><a target="_blank" href="https://www.vagrantup.com">Vagrant</a></li>
          <li><a target="_blank" href="https://www.vaultproject.io/">Vault</a></li>
        </ul>
      </div> <!-- col -->

      <div class="col-md-3 col-xs-4">
      </div> <!-- col -->

      <div class="col-md-3 col-sm-12 col-xs-12">
        <div id="subscribe">
          <!-- Begin MailChimp Signup Form -->
          <form action="https://hashicorp.createsend.com/t/t/s/iddtuj/" method="post"  id="subscribe-form">
            <div class="input-group">
              <input type="email" value="" name="cm-iddtuj-iddtuj" id="fieldEmail" class="form-control" placeholder="Enter Your Email" required>
              <span class="input-group-btn">
                <button id="submit-capture" type="submit" class="btn btn-default">Subscribe</button>
              </span>
            </div>
          </form>
          <p>Subscribe to our newsletter for news about our tools. Short, readable and not too often.</p>
        </div><!-- subscribe -->
      </div> <!-- col -->

    </div> <!-- row -->

    <div class="row">
      <div class="col-xs-12">
        <h6 class="legal">
          Copyright &copy; <%= Time.now.year %> HashiCorp
          <br>
          <br>
          stdin: is not a tty
        </h6>
      </div>
    </div> <!-- row -->

  </div> <!-- container -->
</footer>
