			<!-- footer -->
			<footer>
			<div class="container">
				<div class="row">

					<div class="col-md-3 col-sm-4 col-xs-12">
						<h2>
							<a class="navbar-brand blue logo" href="/">Mohamicorp</a>
						</h2>
						<ul>
							<!-- <li><a href="/about.html">About Us</a></li> -->
							<!-- <li><a href="/blog/tao-of-hashicorp.html">The Tao of HashiCorp</a></li> -->
							<!-- <li><a href="/jobs.html">Jobs</a></li> -->
							<!-- <li><a href="/blog.html">Blog</a></li> -->
							<!-- <li><a href="/press.html">Press</a></li> -->
							<!-- <li><a href="/partners.html">Partners</a></li> -->
							<li><a href="mailto:hello@mohamicorp.com">Contact</a></li>
							<!-- <li><a href="/security.html">Security</a></li> -->
							<li><a href="https://www.twitter.com/mohamicorp">Twitter<i class="twitter"></i></a></li>
							<li><a href="https://github.com/mohamicorp">GitHub<i></i></a></li>
						</ul>
					</div> <!-- col -->

					<div class="col-md-6 col-sm-4 col-xs-12">
						<h2>Product Sites</h2>
						<ul>
							<li><a href="https://marketplace.atlassian.com/plugins/com.mohamicorp.stash.plugin.editor-for-stash/server/overview">Editor for Bitbucket</a></li>
							<li><a href="https://marketplace.atlassian.com/plugins/com.mohamicorp.stash.search-for-stash/server/overview">Search for Bitbucket</a></li>
							<li><a href="https://marketplace.atlassian.com/plugins/com.mohamicorp.stash.plugin.codenav/server/overview">Code Navigator for Bitbucket</a></li>
							<li><a href="https://marketplace.atlassian.com/plugins/com.mohamicorp.bitbucket.plugin.crucible-review-hook">Crucible Review Hook for Bitbucket</a></li>
							<li><a href="https://marketplace.atlassian.com/plugins/com.mohamicorp.html.source.editor.for.confluence">Source Editor for Confluence</a></li>
						</ul>
					</div> <!-- col -->

					<div class="col-md-3 col-sm-4 col-xs-12">
						<h2></h2>
						<ul>
						</ul>
					</div> <!-- col -->

					<!-- <div class="col-md-3 col-sm-6 col-xs-9">
						<div id="subscribe">
							<form action="https://hashicorp.createsend.com/t/t/s/iddtuj/" method="post"  id="subscribe-form">
								<div class="input-group">
									<input type="email" value="" name="cm-iddtuj-iddtuj" id="fieldEmail" class="form-control" placeholder="Enter Your Email" required>
									<span class="input-group-btn">
						          		<button id="submit-capture" type="submit" class="btn btn-default">Subscribe</button>
						          	</span>
						          </div>
							</form>
						<p>Subscribe to our newsletter for news about our tools. Short, readable and not too often.</p>
						</div>
					</div>  -->

				</div> <!-- row -->

				<div class="row">
					<div class="col-xs-12">
						<h6 class="legal">
							Copyright &copy; <%= Time.now.year %> Mohami LLC
							<br>
							<br>
							site design based off of old hashicorp site <3
						</h6>
					</div>
				</div> <!-- row -->

			</div> <!-- container -->
			</footer>
