<div id="header" class="<%= current_page.data.page_title == "home" ? "" : "navbar-static-top" %>">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="navbar-header">
          <div class="navbar-brand">
            <a class="logo" href="/"><img src="/images/v2/hashicorp.svg" alt="Hashicorp" width="33px" height="36px">HashiCorp</a>
          </div>
          <button class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="buttons hidden-xs">
          <nav role="navigation">
            <ul class="atlas-links nav navbar-nav navbar-right">
              <li class="first atlas">
                <a class="hbtn outline white" href="https://atlas.hashicorp.com/session">Atlas Login</a>
              </li>
            </ul>
            <ul class="main-links nav navbar-nav navbar-right">
              <li class=""><a href="/about.html">About</a></li>
              <li class=""><a href="/atlas.html">Atlas</a></li>
              <li class="first"><a href="<%= "#products" if current_page.path.include?("index.html") %><%= "/index.html#products" if ( ! current_page.path.include?("index.html")) %>">Products</a></li>
              <li class=""><a href="/blog.html">Blog</a></li>
              <li class=""><a href="/partners.html">Partners</a></li>
              <li class=""><a href="/jobs.html">Jobs</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
