<!-- Overlay for fixed sidebar -->
<div class="sidebar-overlay"></div>

<!-- Material sidebar -->
<aside id="sidebar" class="sidebar sidebar-default sidebar-fixed-right" role="navigation">
    <!-- Sidebar header -->
    <div class="sidebar-header header-cover">
        <!-- Sidebar brand image -->
        <div class="sidebar-image">
            <a href="/"><img src="<%= image_path('v2/hashicorp.svg') %>" width="50px" height="54px"></a>
        </div>
    </div>

    <!-- Sidebar navigation -->
    <ul class="main nav sidebar-nav">
        <li class=""><a href="/atlas.html">Atlas</a></li>
        <li class="first"><a href="<%= "#products" if current_page.path.include?("index.html") %><%= "/index.html#products" if ( ! current_page.path.include?("index.html")) %>">Products</a></li>
        <li class=""><a href="/blog.html">Blog</a></li>
        <li class=""><a href="/about.html">About</a></li>
        <li class=""><a href="/partners.html">Partners</a></li>
        <li class=""><a href="/jobs.html">Jobs</a></li>
    </ul>
    <!-- Sidebar navigation 2-->
    <ul class="external nav sidebar-nav">
      <a class="hbtn outline white" href="https://atlas.hashicorp.com/">Atlas Login</a>
    </ul>
</aside>
