//
// About
// --------------------------------------------------

$founder-height: 300px;

body.about{
  .inner-page{
    overflow: hidden;
  }

  p,ul{
    color: $sub-white;
  }
  .template-hero{
    .template-hero-content{
      @include img-retina( '../images/v2/about-hero-bg', png, 1280px, $template-hero-height);
      background-size: cover !important;
      background-position: center center;
    }
  }

  .subhero-site-wrap{
    overflow: visible;

    .left-graphic{
      position: absolute;
      left: -50px;
      top: -400px;
      width: 451px;
      height: 685px;
      @include img-retina( '../images/v2/about-left-graphic', png, 451px, 685px);
      opacity: .5;
    }

    .right-graphic{
      position: absolute;
      right: 0;
      top: -360px;
      width: 452px;
      height: 630px;
      @include img-retina( '../images/v2/about-right-graphic', png, 452px, 630px);
      opacity: .5;
    }

    .about-pic{
      width: 518px;
      height: 370px;
      margin-top: $med-pad + 10;
      margin-left: $small-pad;
      @include img-retina( '../images/v2/about-pic', png, 518px, 370px);
    }
  }

  #about-who-we{
    background-color: $black;
  }

  #about-tao{
    background-color: $white;
    color: $black;
    text-align: center;

    p{
      color: $blue-black;
      font-size: 20px;
      text-transform: uppercase;
    }

    h1{
      display: inline-block;
    }

    a{
      display: inline-block;
      margin-top: $small-pad;
      margin-left: $small-pad;
      vertical-align: top;
    }
  }

  .team{
    h2{
      margin-bottom: $small-pad;
    }

    .founder-img{
      height: $founder-height;
      max-width: 100%;
      margin-bottom: $small-pad;
      background-size: cover !important;

      &.founder-m{
        background: url('../images/people/mh.jpg') 0 0 no-repeat;
      }

      &.founder-a{
        background: url('../images/people/ad.jpg') 0 0 no-repeat;
      }
    }

    h4{
      margin-bottom: $baseline/2;
      font-size: 20px;
      line-height: 1.1em;
      color: $white;
    }

    p{
      margin-bottom: $baseline/2;
      font-size: 15px;
      line-height: 1.5em;
    }

    .twitter-about{
      display: inline-block;
      width: 39px;
      height: 34px;
      i{
        width: 39px;
        height: 34px;
        // .twitter-about();
      }
    }

    .hiring{
      height: $founder-height;
      text-align: center;
      background-color: $black;
      color: $white;
      border: 1px solid $blue;

      h2{
        margin: 58px 0 0 0 ;
        padding: 30px;
        text-align: center;
        color: $white;
        font-size: 36px;
        // .lato-bold;
      }
    }
  }
}

@media (max-width: 992px) {
  body.about{
    .subhero-site-wrap{
      .about-pic{
        margin-right: auto;
        margin-left: auto;
        width: 480px;
        height: 342px;
        background-size: 480px 342px;
      }
    }

    #about-tao{
      h1{
        display: block;
      }

      a{
        margin-top: 0;
        margin-left: 0;
      }
    }

    .team{
      text-align: center;

      .founder-img{
        margin: 0 auto;
        width: 300px;
        height: 270px;
        background-size: 300px 270px;
      }

      .hiring{
        display: flex;
        height: auto;
        padding: $small-pad;
        margin-top: $med-pad;

        h2, .bnr-btn{
          flex: 1 1 auto;
          align-self: center;
        }

        .bnr-btn{
          text-align: left;
        }

        h2{
          display: inline-block;
          margin-top: 0;
          text-align: right;
          margin-right: $xsmall-pad;
          padding: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body.about{
    .subhero-site-wrap{
      .left-graphic{
        left: -150px;
      }

      .right-graphic{
        right: -100px;
      }
    }

    .team{
      text-align: center;

      .founder-img{
        margin: 0 auto;
        width: 300px;
        height: 270px;
        background-size: 300px 270px;
      }

      .hiring{
        height: auto;
        padding: $small-pad;

        h2{
          display: inline-block;
          margin-top: 0;
          //margin-bottom: $xsmall-pad;
          margin-right: $xsmall-pad;
          padding: 0;
        }
      }
    }
  }
}

@media (max-width: 480px){
  body.about{
    .subhero-site-wrap{
      .right-graphic{
        display: none;
      }
      .about-pic{
        width: 300px;
        height: 214px;
        background-size: 300px 214px;
      }
    }
    .team{
      .hiring{
        display: block;

        h2, .bnr-btn{
          flex: none;
        }

        .bnr-btn{
          text-align: center;
          margin-top: $xsmall-pad;
        }

        h2{
          display: block;
          text-align: center;
          margin-right: 0;
        }
      }
    }
  }
}

// @media (min-width: 1200px) {
//   body.about{
//     .team{
//       .hiring{
//         height: 331px;
//
//         h2{
//           margin-top: 60px;
//         }
//       }
//     }
//   }
// }
