//
// About
// --------------------------------------------------


body.about{
  .template-hero{
    .template-hero-content{
      @include img-retina( '../images/v2/about-hero-bg', png, 1280px, $template-hero-height);
      background-position: cover;
    }
  }

  .subhero-site-wrap{
    overflow: visible;

    .left-graphic{
      position: absolute;
      left: -50px;
      top: -400px;
      width: 451px;
      height: 685px;
      @include img-retina( '../images/v2/about-left-graphic', png, 451px, 685px);
      opacity: .5;
    }

    .right-graphic{
      position: absolute;
      right: 0;
      top: -360px;
      width: 452px;
      height: 630px;
      @include img-retina( '../images/v2/about-right-graphic', png, 452px, 630px);
      opacity: .5;
    }

    .about-pic{
      width: 518px;
      height: 370px;
      margin-top: $med-pad + 10;
      margin-left: $small-pad;
      @include img-retina( '../images/v2/about-pic', png, 518px, 370px);
    }
  }

  section{
    padding: 120px 0;
  }

  #about-who-we{
    padding-top: 80px;
    background-color: $black;
  }

  #about-tao{
    background-color: $white;
    color: $black;
    text-align: center;

    h1{
      display: inline-block;
      line-height: $font-size-xl;
      font-weight: 600;
      margin: 20px 0;
      letter-spacing: -1px;
    }

    p{
      color: $blue-black;
      font-size: 20px;
      text-transform: uppercase;
    }

    a{
      display: inline-block;
      vertical-align: top;
      height: $font-size-xl;
      line-height: $font-size-xl;
      padding: 0 80px;
      margin-top: 20px;
      margin-left: $small-pad;
      font-size: 20px;
    }
  }

  .team{
    h2{
      margin-bottom: 40px;
    }

    .founder-img{
      height: 280px;
      max-width: 100%;
      margin-bottom: $baseline;
      background-size: contain !important;

      &.founder-m{
        background: url('../images/people/mh.jpg') 0 0 no-repeat;
      }

      &.founder-a{
        background: url('../images/people/ad.jpg') 0 0 no-repeat;
      }
    }

    h4{
      margin-bottom: $baseline/2;
      font-size: 20px;
      line-height: 1.1em;
      color: $white;
    }

    p{
      margin-bottom: $baseline/2;
      font-size: 15px;
      line-height: 1.5em;
    }

    .twitter-about{
      display: inline-block;
      width: 39px;
      height: 34px;
      i{
        width: 39px;
        height: 34px;
        // .twitter-about();
      }
    }

    .hiring{
      height: 280px;
      text-align: center;
      background-color: $black;
      color: $white;
      border: 1px solid $blue;

      h2{
        margin: 58px 0 0 0 ;
        padding: 30px;
        text-align: center;
        color: $white;
        font-size: 36px;
        // .lato-bold;
      }
    }

    .row.team-2, .row.team-3{
      margin-top: 40px;
    }
  }
}

@media (max-width: 768px) {
  body.about{
    .press{
      .quotes{
        .quote{
          margin-bottom: 60px;
        }
      }
      .kit{
        a{
          font-size: 17px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  body.about{
    .team{
      .hiring{
        height: 270px;

        h2{
          margin-top: 30px;
        }
      }
    }
  }
}

// @media (min-width: 1200px) {
//   body.about{
//     .team{
//       .hiring{
//         height: 331px;
//
//         h2{
//           margin-top: 60px;
//         }
//       }
//     }
//   }
// }
