//
// /Atlas
// -------------------------------------------------

$atlas-hero-total-height: 706px;

#atlas-hero-mask{
  margin-top: -100px;
  height: $atlas-hero-total-height;
}

#atlas-hero{
  height: $atlas-hero-total-height;

  h1{
    font-size: 48px;
    line-height: 1.1em;
    margin-bottom: 10px;
  }

  h2{
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: $small-pad;
  }

  #atlas-hero-content{
    height: $atlas-hero-total-height;
    padding-top: 120px;
    @include img-retina( '../images/v2/atlas-hero-bg', png, 1605px, $atlas-hero-total-height);
    background-position: center 0;

    #atlas-headline{
      margin-top: $small-pad;
    }
  }

  #pipeline-wrap{
    position: relative;
    margin-top: 150px;
    margin-left: 180px;

    #pipeline-graphic{
      position: absolute;
      top: 0;
      left: 0;
      width: 266px;
      height: 306px;
      @include img-retina( '../images/v2/atlas-graphic', png, 266px, 306px);
      background-position: center 0;
    }

    .pipeline-step{
      position: absolute;
      width: 80px;

      span{
        position: absolute;
        left: -15px;
        top: -5px;
        color: $orange;
        font-weight: 600;
      }

      &.pstep-1{
        top: 200px;
        left: -70px;
      }
      &.pstep-2{
        top: 200px;
        left: 300px;
      }
      &.pstep-3{
        top: 110px;;
        left: 300px;
      }
      &.pstep-4{
        top: 120px;;
        left: -85px;
      }
      &.pstep-5{
        top: -25px;;
        left: 170px;
      }
    }
  }
}

#atlas-why{
  position: relative;
  padding: $large-pad 0;
  background-color: $white;
  z-index: 2;
}

#atlas-features-header{
  @include img-retina( '../images/v2/atlas-feature-bg', png, 100%, 481px);
  background-color: $black;
  background-position: center top;
  box-shadow: inset 0 12px 8px rgba($black, .1);

  >.container{
    position: relative;
    height: 481px;
  }

  h1{
    position: absolute;
    bottom: $med-pad;
    left: 15px;
    font-weight: 700;
  }
}

#atlas-feature-content{
  background-color: $white;
  color: $black;

  h1{
    margin: $med-pad 0;
  }

  .feature-graphic{
    margin-bottom: $large-pad;
  }

  .automation-1{
    .feature-graphic{
      width: 236px;
      height: 230px;
      @include img-retina( '../images/v2/atlas-graphic-automation-1', png, 236px, 230px);
    }
  }

  .automation-2{
    .feature-graphic{
      width: 317px;
      height: 237px;
      @include img-retina( '../images/v2/atlas-graphic-automation-2', png, 317px, 237px);
    }
  }

  .flexibility{
    .feature-graphic{
      width: 1004px;
      height: 398px;
      @include img-retina( '../images/v2/atlas-graphic-flexibility', png, 1004px, 398px);
    }
  }

  .security-1{
    .feature-graphic{
      width: 452px;
      height: 109px;
      @include img-retina( '../images/v2/atlas-graphic-security-1', png, 452px, 109px);
    }

    .feature-content{
      padding-top: 72px;
    }
  }

  .security-2{
    .feature-graphic{
      width: 117px;
      height: 117px;
      @include img-retina( '../images/v2/atlas-graphic-security-2', png, 117px, 117px);
    }
  }

  .security-3{
    .feature-graphic{
      width: 117px;
      height: 96px;
      @include img-retina( '../images/v2/atlas-graphic-security-3', png, 117px, 96px);
    }
  }

  .security-4{
    .feature-graphic{
      width: 117px;
      height: 96px;
      @include img-retina( '../images/v2/atlas-graphic-security-4', png, 117px, 96px);
    }
  }


  .t-right{
    .feature-content{
      p{
        text-align: right
      }
    }
  }
}

.black-wrap{
  background-color: $black;
  padding: $large-pad 0;
}

#atlas-os{
  text-align: center;
  margin-bottom: $large-pad;

  > .container{
      //padding-top: $large-pad;
      padding-bottom: $large-pad;
      //border-top: 1px solid $dft-brdr-clr;
      border-bottom: 1px solid $dft-brdr-clr;
  }

  h1,p{
    max-width: $small-body;
    margin: 0 auto;
  }

  h1{
    margin-bottom: $small-pad;
  }

  .open-source-graphic{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 618px;
    height: 158px;
    margin: $small-pad auto;
    padding-top: 20px;
    @include img-retina( '../images/v2/open-source-bg', png, 618px, 158px);
    list-style-type: none;
    padding: 0;

    li{
      width: 25%;
      font-size: 34px;

      a{
        color: $white;
        text-shadow: 3px 2px 4px $black;

        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}


#atlas-info{
  margin-bottom: $large-pad;

  h1{
    margin: $med-pad 0 $med-pad;
    text-align: center;
  }

  h3{
    margin-top: 0;
  }

  .info-split{
    .atlas-info{
      padding: 0 $small-pad $small-pad;

      &:first-child{
        border-right: 1px solid $dft-brdr-clr;
      }
    }
  }

  .info-full{
    > div{
      padding: $small-pad;
    }
  }

  > .container{
    > .row{
      .row{
        border-bottom: 1px solid $dft-brdr-clr;

        &:last-child{
          border-bottom: none;
        }
      }

      >.col-md-10{
          border: 1px solid $dft-brdr-clr;
      }
    }
  }
}

#atlas-customers{
  h1{
    text-align: center;
    margin: $med-pad;
  }

  > .container{
    .col-md-10{
      border: 1px solid $dft-brdr-clr;
    }
  }

  .customers{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: $small-pad;

    li{
      width: 25%;
      height: 120px;
      @include img-retina( '../images/v2/atlas-customer', png, 144px, 27px);
      background-position: center center;
      border-left: 1px solid $dft-brdr-clr;
      border-right: 1px solid $dft-brdr-clr;
      border-bottom: 1px solid $dft-brdr-clr;

      &:not(:nth-child(-n+4)){
        border-bottom: none;
      }

      &:nth-child(4n){
        border-right: none;
      }

      &:nth-child(1n){
        border-left: none;
      }
    }
  }
}

#atlas-contact{
  margin: $large-pad 0;

  .form-header{
    text-align: center;
  }
}

#atlas-pricing{
  margin: $large-pad 0;

  .section-header{
    text-align: center;
  }
}

#atlas-cta{

}
