//
// /Atlas
// -------------------------------------------------

$atlas-hero-total-height: 706px;

#atlas-hero-mask{
  margin-top: -100px;
  height: $atlas-hero-total-height;
}

#atlas-hero{
  height: $atlas-hero-total-height;

  #atlas-hero-content{
    height: $atlas-hero-total-height;
    padding-top: 120px;
    @include img-retina( '../images/v2/atlas-hero-bg', png, 1605px, $atlas-hero-total-height);
    background-position: center 0;
  }

  #atlas-headline{

  }

  #pipeline-wrap{
    position: relative;
    margin-top: 150px;
    margin-left: 120px;

    #pipeline-graphic{
      position: absolute;
      top: 0;
      left: 0;
      width: 266px;
      height: 306px;
      @include img-retina( '../images/v2/atlas-graphic', png, 266px, 306px);
      background-position: center 0;
    }

    .pipeline-step{
      position: absolute;
      width: 80px;

      &.pstep-1{
        top: 200px;
        left: -100px;
        text-align: right;
      }
      &.pstep-2{
        top: 200px;
        left: 290px;
      }
      &.pstep-3{
        top: 110px;;
        left: 290px;
      }
      &.pstep-4{
        top: 120px;;
        left: -110px;
        text-align: right;
      }
      &.pstep-5{
        top: -25px;;
        left: 160px;
      }
    }
  }
}

#atlas-why{
  position: relative;
  padding: $large-pad 0;
  background-color: $white;
  z-index: 2;
}

#atlas-features-header{
  @include img-retina( '../images/v2/atlas-feature-bg', png, 100%, 481px);
  background-color: $black;
  background-position: center top;

  >.container{
    position: relative;
    height: 481px;
  }

  h1{
    position: absolute;
    bottom: $med-pad;
    left: 15px;
    font-weight: 700;
  }
}

#atlas-feature-content{
  background-color: $white;
  color: $black;
}
