footer{
  position: relative;
  z-index: 200;

  .container{
    padding-top: $med-pad;
    border-top: 1px solid $dft-brdr-clr;
  }

  .navbar-brand{
    .logo{
      font-size: 20px;

      &:hover{
        text-decoration: none;
      }
    }

    img{
      width: 20px;
      height: 22px;
      margin-right: 6px;
      margin-top: -3px;
    }
  }

  h4{
    font-size: 20px;
    padding: 15px 0;
    margin: 0;
  }

  .social-links{
    .twitter{
      float: left;
      a{
        display: inline-block;
        width: 16px;
        height: 13px;
        @include img-retina('../images/v2/icon-twitter', png, 16px, 13px);
        margin-right: 10px;
      }
    }

    .github{
      float: left;
      a{
        display: inline-block;
        width: 15px;
        height: 14px;
        @include img-retina('../images/v2/icon-github', png, 15px, 14px);
      }
    }
  }

  .legal{
    margin: $small-pad 0;
    opacity: .7;
  }
}

#subscribe{
  margin-top: $small-pad;

  #submit-capture, input{
    border-radius: 0;
    border: none;
  }

  input{
    background-color: $dark-input-bg;
    @include placeholder {
      color: $white;
    }
  }

  button{
    background-color: $blue;
    color: $white;
  }

  .input-group{
    margin-bottom: 8px;
  }

  p{
    font-size: 12px;
    text-align: right;
    margin-left: 5px;
  }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
  #footer{
    text-align: center;

    .footer-links{
      float: none;
      display: inline-block;
      margin-bottom: 36px;
    }

    .footer-hashi {
      float: none;
      display: inline-block;

      .pull-right{
        float: none !important;
        padding-right: 0;
      }
    }
  }
}

@media (max-width: 414px) {
  #footer{
    .footer-links{
      li{
        display: block;
        float: none;
      }
    }
  }
}
