//
// Global Site
// --------------------------------------------------

/*html{
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
}*/

html, body {
  -webkit-font-smoothing: antialiased;
  color: $white;
  background-color: $black;
  font-family: $font-family-open-sans;
  line-height: 1.5;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  font-family: $font-family-klav;
  font-weight: $font-weight-reg;
  line-height: 1.25;
  //margin-top: 1em;
  margin-bottom: .5em;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

pre {
  background-color: $black;
  color: $white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Courier New", Monaco, Menlo, Consolas, monospace;
  border: none;
  padding: 20px;
  margin-bottom: 0;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

h1 { font-size: 3.5rem }
h2 { font-size: 2.5rem }
h3 { font-size: 2rem }
h4 { font-size: 1.5rem }
h5 { font-size: 1.25rem }
h6 { font-size: 1rem }

a{
  color: $blue;

  &:hover, &:focus{
    color: $blue;
  }
}

i{
  display: inline-block;
}

// very important
// hides fonts while typekit is loading
.wf-loading {
  visibility: hidden;
}
.wf-active, .wf-inactive {
  visibility: visible;
}

.highlight{
  margin-bottom: 18px;
}

.navbar-nav {
  margin: 0;
}

.navbar-right {
  float: right !important;
}

.navbar-nav > li {
  float: left;
}

.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

.center {
  text-align: center;
}

section.inner-page,
section.page{
  padding: $small-pad 0 $med-pad;
  background-color: $white;
  color: $black;

  li,p{
    color: $light-black;
    font-size: 18px;
    font-family: $font-family-open-sans;
    font-weight: $font-weight-reg;
  }

  .inner-page-header{
    .headline{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

//fixed grid below 992 to prevent smaller responsive sizes
@media (max-width: 992px) {
  .container{
    max-width: 970px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h1{
    font-size: $font-size-m !important;
    line-height: $font-size-m;
    font-weight: $font-weight-reg;
    margin-bottom: 24px;
  }

  h2{
    font-size: $font-size-m !important;
    font-weight: $font-weight-reg;
  }

  h3{
    font-size: $font-size-m !important;
    font-weight: $font-weight-reg;
  }

  h4{
    font-size: $font-size-reg !important;
    font-weight: $font-weight-reg;
  }
}
