//
// Home
// --------------------------------------------------

// --------------------------------------------------
// ZINDEX KEY
// - add to it as you change z-index values
//
// #hero:                        z-index 1
// #section-why:                 z-index 2
// #atlas-bg:                    z-index 3
// .section-atlas > container:   z-index 4
// #product-bg:                  z-index 5
// #section-product > container: z-index 6
// --------------------------------------------------

$hero-total-height: 790px;

#site-wrap{
  position: relative;
  overflow: hidden;
  z-index: 100;
}

#hero-mask{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: $hero-total-height;
}

#hero{
  position: fixed;
  z-index: 1;
  color: white;
  width: 100%;
  height: $hero-total-height;

  #hero-content{
    position: relative;
    z-index: 1;
    height: $hero-total-height;
    @include img-retina( '../images/v2/home-hero-bg', png, 1604px, 790px);
    background-position: center 0;
  }

  #hero-headline{
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
  }
}

.section{
  .section-footer{
    margin-top: 100px;
    text-align: center;
  }
}

#section-why{
  padding-bottom: 400px;

  >.container{
    position: relative;
    z-index: 4;
  }

  .why-section-header{
      text-align: center;
  }

  p{
    color: $blue-light;
  }
  .why-feature{
    padding-left: 120px;
  }
}

// ----------------------------
// Atlas Section
#section-atlas{
  position: relative;
  padding: 300px 0 200px;

  .skew-bg{
    position: absolute;
    left: 50%;
    width: 2400px;
    margin-left: -1200px;
    z-index: 3;
    @include skewY(-30deg);
  }

  #atlas-bg{
    top: 0;
    height: 1200px;
    background-color: $blue-dark;
  }

  #atlas-bg-2{
    top: 1200px;
    height: 400px;
    background-color: $blue-darkest;
  }

  #atlas-header-cta{
    position: absolute;
    top: -257px;
    left: 50%;
    margin-left: -222px;
    width: 445px;
    height: 514px;
    text-align: center;
    padding-top: 120px;
    z-index: 3;
    @include img-retina('../images/v2/atlas-cta-bg', png, 445px, 514px);

    h3{
      margin-bottom: 40px;
    }
  }

  >.container{
    position: relative;
    z-index: 4;
  }

  .atlas-section-header{
      text-align: center;
  }

  .atlas-features-flex{
    display: flex;
    flex-wrap: wrap;
    .atlas-feature{
      width: 50%;
      padding-left: 96px;
      box-sizing: border-box;
    }
  }
}

// End Atlas Section
// ----------------------------


// ----------------------------
// Product Section
#section-product{
  position: relative;
  padding: 160px 0 400px;

  #product-bg{
    position: absolute;
    top: 0;
    left: 50%;
    width: 2400px;
    height: 1000px;
    margin-left: -1200px;
    z-index: 3;
    @include skewY(10deg);
    background-color: $white;
  }

  h2, h3{
    color: $black;
    text-align: center;
  }

  #products-display{
    position: relative;
    z-index: 6;

    .descs{
    }
    p{
      color: $black;
    }
  }
}
// End Product Section
// ----------------------------



// ----------------------------
// Customer Section
#section-customers{
  padding: 400px 0 200px;

  .customers-section-header{
      text-align: center;
      margin-bottom: 80px;
  }

  .customer-wrap{
    display: flex;
    flex-wrap: wrap;
  }

  .customer-item{
    width: 25%;
    height: 120px;
    @include img-retina( '../images/v2/atlas-customer', png, 144px, 27px);
    background-position: center center;

  }
}
// End Customer Section
// ----------------------------


// ----------------------------
// Cta Section
#section-cta{
  padding: 200px 0;
}
// End Cta Section
// ----------------------------
