//
// Home
// --------------------------------------------------

$hero-total-height: 790px;

#home-hero-mask{
  height: $hero-total-height;
}

#home-hero{
  height: $hero-total-height;
  padding-bottom: 200px;

  #home-hero-content{
    height: $hero-total-height;
    @include img-retina( '../images/v2/home-hero-bg', png, 1604px, 790px);
    background-position: center 0;
  }

  #hero-headline{
    text-align: center;
    max-width: 80%;
    margin: 0 auto;

    h1{
      margin: 30px 0 20px;
      font-size: 40px;
      font-weight: 300;
      color: $blue;
    }

    .brand-hashi{
      color: $white;
    }

    h2{
      font-size: 18px;
      line-height: 1.6em;
      max-width: $small-body - 150;
      margin: 0 auto;
    }
  }
}

.section{
  .section-footer{
    margin-top: 100px;
    text-align: center;
  }
}

#home-why{
  padding-bottom: 400px;

  >.container{
    position: relative;
  }

  .why-section-header{
    text-align: center;
  }

  p{
    color: $blue-light;
  }
  .why-feature{
    position: relative;
    padding-left: 120px;
    margin-bottom: 45px;

    h2{
      margin-left: -120px;
      padding-left: 120px;
    }

    .graphic{
      display: inline-block;
      position: absolute;
      top: 5px;
      left: 0;
      width: 120px;
      height: 48px;
    }

    &.fast{
      .graphic{
        width: 67px;
        height: 40px;
        @include img-retina('../images/v2/icon-fast', png, 67px, 40px);
        left: 12px;
        top: 11px;
      }
    }

    &.efficient{
      .graphic{
        width: 59px;
        height: 47px;
        @include img-retina('../images/v2/icon-efficient', png, 59px, 47px);
        left: 16px;
      }
    }

    &.secure{
      .graphic{
        width: 37px;
        height: 43px;
        @include img-retina('../images/v2/icon-secure', png, 37px, 43px);
        left: 28px;
        top: 8px;
      }
    }
  }
}

// ----------------------------
// Atlas Section
#home-atlas{
  position: relative;
  padding: 300px 0 200px;

  .skew-bg{
    position: absolute;
    left: 50%;
    width: 2400px;
    margin-left: -1200px;
    z-index: 3;
    @include skewY(-30deg);
  }

  #atlas-bg{
    top: 0;
    height: 1200px;
    background-color: $blue-dark;
  }

  #atlas-bg-2{
    top: 1200px;
    height: 400px;
    background-color: $blue-darkest;
  }

  #atlas-header-cta{
    position: absolute;
    top: -257px;
    left: 50%;
    margin-left: -222px;
    width: 445px;
    height: 514px;
    text-align: center;
    padding-top: 160px;
    z-index: 3;
    @include img-retina('../images/v2/atlas-cta-bg', png, 445px, 514px);

    h3{
      margin-bottom: 40px;
    }
  }

  >.container{
    position: relative;
    z-index: 4;
  }
}

// End Atlas Section
// ----------------------------


// ----------------------------
// Product Section
#products{
  position: relative;
  padding: 200px 0;

  #product-bg{
    position: absolute;
    top: 0;
    left: 50%;
    width: 2400px;
    height: 1000px;
    margin-left: -1200px;
    z-index: 3;
    @include skewY(10deg);
    background-color: $white;
  }

  h1{
    margin-bottom: $med-pad;
  }

  h1, h2, h3{
    color: $black;
    text-align: center;
  }

  #products-header{
    position: relative;
    z-index: 10;
  }

  #products-display{
    position: relative;
    z-index: 6;

    img{
      margin: $small-pad 0;
    }

    p{
      color: $black;
      font-family: $font-family-open-sans;
      line-height: 1.8em;
    }

    .descs-btns{
      margin-top: $small-pad;

      a{
        &:last-child{
          margin-left: $xsmall-pad;
        }
      }

      // assign product classes color
      @for $i from 0 to length($name-list) {
        $color: nth($colors-dark-list, $i+1);
        $name: unquote(nth($name-list, $i+1));
        &.#{$name}{
          .explore{
            color: #{$color};
          }
        }
      }

      .doc{
        color: $black;
      }
    }

    h3{
      text-align: left;
    }
  }

  #products-nav{
    width: 330px; //    width: 260px;
    position: absolute;
    top: $small-pad;
    left: $small-pad;
    background-color: $white;
    border-right: 1px solid rgba($black, .05);

    // assign product classes color
    @for $i from 0 to length($name-list) {
      $color: nth($colors-dark-list, $i+1);
      $name: unquote(nth($name-list, $i+1));
      .#{$name}{
        &.active{
          a{
            color: $color;
          }
        }
        a{
          &:hover{
            color: $color;
            text-decoration: none;
          }
        }
      }
    }

    li{
      position: relative;
      text-align: right;
      padding-right: 40px;
      margin: 16px 0;

      i{
        position: absolute;
        top: -3px;
        right: -1px;
        width: 3px;
        height: 100%;
      }

      // assign product classes backround-color
      @for $i from 0 to length($name-list) {
        $color: nth($colors-dark-list, $i+1);
        $name: unquote(nth($name-list, $i+1));
        &.#{$name}.active{
          i{
            background-color: $color;
          }
        }
      }
    }

    a{
      color: $black;
      font-size: $font-size-m;
      line-height: $font-size-m;

      &:hover{
        opacity: 1;
      }
    }
  }
}
// End Product Section
// ----------------------------



// ----------------------------
// Customer Section
#home-customers{
  padding: 400px 0 200px;

  .customers-section-header{
      text-align: center;
      margin-bottom: 80px;
  }

  .customer-wrap{
    display: flex;
    flex-wrap: wrap;
  }

  .customer-item{
    width: 25%;
    height: 120px;
    @include img-retina( '../images/v2/atlas-customer', png, 144px, 27px);
    background-position: center center;
  }
}
// End Customer Section
// ----------------------------


// ----------------------------
// Cta Section
#home-cta{
  padding: $large-pad 0;
}

// End Cta Section
// ----------------------------

@media (max-width: 1170px) {
  #products{
    #products-nav{
      width: 260px;
    }
  }
}

@media (max-width: 992px) {
  #products{
    #products-nav{
      width: 160px;
      left: 0;
    }
  }
}

@media (max-width: 768px) {
  #home-why{
    .why-section-header{
      margin-bottom: $small-pad;
    }

    .why-feature{
      margin-bottom: $small-pad;
      padding-left: 0;
      text-align: center;

      h2{
        margin: 8px 0;
        padding-left: 0
      }

      .graphic{
        position: relative;
        background-position: 0 0 !important;
        left: auto !important;
        top: auto !important;

        h2{
          margin-left: -120px;
          padding-left: 120px;
        }
      }
    }
  }

  #products{
    #products-display{
      .descs{
        text-align: center;
      }
    }

    #products-header{
      h1{
        margin-bottom: $xsmall-pad;
      }
    }

    #products-nav-wrap{
      height: 80px;
      overflow: hidden;
    }

    #products-nav{
      height: 80px;
      width: 100%;
      top: 0;
      left: 0;
      border-right: none;
      //border-right: 1px solid rgba($black, .05);
      background-color: transparent;

      padding-left: $small-pad;
      padding-right: $small-pad;
      list-style: none;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;

      li{
        display: inline-block;
        float: none;
        position: relative;
        text-align: center;
        padding-right: 0;
        margin-right: $small-pad;

        i{
          display: none;
          position: absolute;
          top: -3px;
          right: -1px;
          width: 3px;
          height: 100%;
        }
      }
    }
  }
}
