//
// Home
// --------------------------------------------------

$hero-total-height: 790px;

#home-hero-mask{
  height: $hero-total-height - 150;
}

#home-hero{
  height: $hero-total-height;
  padding-bottom: 200px;

  #home-hero-content{
    height: $hero-total-height;
    @include img-retina( '../images/v2/home-hero-bg', png, 1604px, 790px);
    background-position: center 0;
  }

  #hero-headline{
    text-align: center;
    max-width: 80%;
    margin: 0 auto;

    h1{
      margin: 0 0 8px;
      font-size: 40px;
      font-weight: 300;
    }

    .brand-hashi{
      margin: $small-pad 0 8px;
      font-size: 48px;
      line-height: 48px;
      font-weight: 600;
    }

    h2{
      font-size: 18px;
      line-height: 1.6em;
      max-width: $small-body;
      margin: 4px auto 0;
      color: $sub-white;
      font-family: $font-family-open-sans;
    }
  }
}

#home-why{
  padding-bottom: 300px;

  >.container{
    position: relative;
  }

  .why-section-header{
    text-align: center;
  }

  p{
    color: $sub-white;
  }
  .why-feature{
    position: relative;
    padding-left: 120px;
    margin-bottom: 45px;

    h2{
      margin-bottom: 0;
      margin-left: -120px;
      padding-left: 120px;
    }

    .graphic{
      display: inline-block;
      position: absolute;
      top: 3px;
      left: 0;
      width: 120px;
      height: 48px;
    }

    &.fast{
      .graphic{
        width: 60px;
        height: 39px;
        @include img-retina('../images/v2/icon-fast', png, 60px, 39px);
        left: 12px;
        top: 7px;
      }
    }

    &.efficient{
      .graphic{
        width: 31px;
        height: 45px;
        @include img-retina('../images/v2/icon-efficient', png, 31px, 45px);
        left: 31px;
      }
    }

    &.flexible{
      .graphic{
        width: 57px;
        height: 46px;
        @include img-retina('../images/v2/icon-flexible', png, 57px, 46px);
        left: 16px;
      }
    }

    &.secure{
      .graphic{
        width: 36px;
        height: 42px;
        @include img-retina('../images/v2/icon-secure', png, 36px, 42px);
        left: 28px;
        top: 8px;
      }
    }
  }
}

// ----------------------------
// Atlas Section
#home-atlas{
  position: relative;
  padding: 300px 0 200px;

  .skew-bg{
    position: absolute;
    left: 50%;
    width: 2400px;
    margin-left: -1200px;
    z-index: 3;
    @include skewY(-30deg);
  }

  #atlas-bg{
    top: 0;
    height: 1200px;
    background-color: $blue-dark;
  }

  #atlas-bg-2{
    top: 1200px;
    height: 400px;
    background-color: $blue-darkest;
  }

  #atlas-header-cta{
    position: absolute;
    top: -257px;
    left: 50%;
    margin-left: -222px;
    width: 445px;
    height: 514px;
    text-align: center;
    padding-top: 160px;
    z-index: 3;
    @include img-retina('../images/v2/atlas-cta-bg', png, 445px, 514px);

    h3{
      margin-bottom: 40px;
    }
  }

  .atlas-section-footer{
    margin-top: $med-pad;
    text-align: center;
  }

  >.container{
    position: relative;
    z-index: 4;
  }
}

// End Atlas Section
// ----------------------------


// ----------------------------
// Product Section
#products-wrap{
  position: relative;
  padding: $large-pad 0;

  #product-bg{
    position: absolute;
    top: 0;
    left: 50%;
    width: 2400px;
    height: 840px;
    margin-left: -1200px;
    z-index: 3;
    @include skewY(10deg);
    background-color: $white;
  }

  h1{
    margin-bottom: $med-pad;
  }

  h1, h2, h3{
    color: $black;
    text-align: center;
  }

  #products{
    position: relative;
    z-index: 10;
  }

  #products-display{
    position: relative;
    z-index: 6;

    .slider{
      padding: 0 !important;
    }

    .descs{
      padding: 0 50px;
    }

    img{
      margin: $small-pad 0;
    }

    p{
      color: $black;
      font-family: $font-family-open-sans;
      line-height: 1.8em;
    }

    .descs-btns{
      margin-top: $small-pad;

      a{
        &:last-child{
          margin-left: $xsmall-pad;
        }
      }

      // assign product classes color
      @for $i from 0 to length($name-list) {
        $color: nth($colors-dark-list, $i+1);
        $name: unquote(nth($name-list, $i+1));
        &.#{$name}{
          .explore{
            color: #{$color};
          }
        }
      }

      .doc{
        color: $black;
      }
    }

    h3{
      text-align: left;
    }
  }

  #products-nav-wrap{
    border-right: 1px solid rgba($black, .05);
  }

  #products-nav{
    margin-bottom: 0;
    // assign product classes color
    @for $i from 0 to length($name-list) {
      $color: nth($colors-dark-list, $i+1);
      $name: unquote(nth($name-list, $i+1));
      .#{$name}{
        &.active{
          a{
            color: $color;
          }
        }
        a{
          &:hover{
            color: $color;
            text-decoration: none;
          }
        }
      }
    }

    li{
      position: relative;
      text-align: right;
      padding-right: $xsmall-pad;
      margin: 16px 0;
      font-size: 1.5rem;
      font-family: $font-family-klav;

      i{
        position: absolute;
        top: -3px;
        right: -16px;
        width: 4px;
        height: 100%;
      }

      // assign product classes backround-color
      @for $i from 0 to length($name-list) {
        $color: nth($colors-dark-list, $i+1);
        $name: unquote(nth($name-list, $i+1));
        &.#{$name}.active{
          i{
            background-color: $color;
          }
        }
      }
    }

    a{
      color: $black;
      font-size: $font-size-m;
      line-height: $font-size-m;

      &:hover{
        opacity: 1;
      }
    }
  }
}
// End Product Section
// ----------------------------



// ----------------------------
// Customer Section
#home-customers{
  padding-top: 200px;

  .customers-section-header{
    text-align: center;
    // margin-bottom: 80px;
  }
}
// End Customer Section
// ----------------------------


// End Cta Section
// ----------------------------

@media(max-width: 1170px){
  #products-wrap{
    #products-display{
      .descs{
        padding: 0 45px;
      }
    }
  }
}

@media (max-width: 768px) {
  #home-why{
    .why-section-header{
      margin-bottom: $small-pad;
    }

    .why-feature{
      margin-bottom: $small-pad;
      padding-left: 0;
      text-align: center;

      h2{
        margin: 8px 0;
        padding-left: 0
      }

      .graphic{
        position: relative;
        background-position: 0 0 !important;
        left: auto !important;
        top: auto !important;

        h2{
          margin-left: -120px;
          padding-left: 120px;
        }
      }
    }
  }

  #products-wrap{
    #products-display{
      .descs{
        text-align: center;
      }
    }

    #products-header{
      h1{
        margin-bottom: $xsmall-pad;
      }
    }

    #products-nav{
      height: 80px;
      width: 100%;
      top: 0;
      left: 0;
      border-right: none;
      //border-right: 1px solid rgba($black, .05);
      background-color: transparent;

      padding-left: $small-pad;
      padding-right: $small-pad;
      list-style: none;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;

      li{
        display: inline-block;
        float: none;
        position: relative;
        text-align: center;
        padding-right: 0;
        margin-right: $small-pad;

        i{
          display: none;
          position: absolute;
          top: -3px;
          right: -1px;
          width: 3px;
          height: 100%;
        }
      }
    }
  }

  #home-customers{
    .customers-section-header{
      margin-bottom: $small-pad;
    }

    .customer-wrap{
      padding: 0 $med-pad;
    }
  }
}

@media (max-width: 480px){
  #home-customers{
    padding: 120px 0 80px;
    .customer-wrap{
      padding: 0;
    }
  }

  #products-wrap{
    position: relative;
    padding: $med-pad 0;

    #product-bg{
      height: 840px;
    }

    h1{
      margin-bottom: 0;
    }

    #products-nav-wrap{
      padding: 0;
    }
  }
}
