//
// Tao
// --------------------------------------------------

body.marketing{
  .template-hero{
    .template-hero-content{
      // &.v1{ //aka the default
        @include img-retina( '../images/v2/marketing-v1', png, 1280px, 453px);
        background-position: center bottom;
      //}
    }
  }

  .subhero-site-wrap{
  }

  section{
    padding-bottom: 120px;

    &.first{
      padding-top: 120px;
    }
  }
}


@media (max-width: 768px) {
}

@media (min-width: 992px) {
}
