//
// Tao
// --------------------------------------------------

body.marketing{
  .template-hero{
    .template-hero-content{
      // &.v1{ //aka the default
        @include img-retina( '../images/v2/marketing-v1', png, 1280px, 453px);
        background-position: center bottom;
      //}
    }
  }

  .subhero-site-wrap{
    padding-top: 120px;
    background-color: $white;
    color: $black;
  }

  section{
    padding-bottom: 120px;
  }

  #template-sub-hero{
    text-align: center;

    .content{
      margin-bottom: $large-pad;
    }
  }
}


@media (max-width: 768px) {
}

@media (min-width: 992px) {
}
