// partners

@mixin asteris-logo {
  @include img-retina( '../images/partner_asteris', png, 200px, 160px);
}
@mixin cheval-logo {
  @include img-retina( '../images/partner_cheval', jpg, 200px, 160px);
}
@mixin contsoln-logo {
  @include img-retina( '../images/partner_contsoln', png, 200px, 160px);
}
@mixin creationline-logo {
	@include img-retina( '../images/partner_creationline', png, 200px, 160px);
}
@mixin cynergypro-logo {
	@include img-retina( '../images/partner_cynergypro', png, 200px, 160px);
}
@mixin mustwin-logo {
  @include img-retina( '../images/partner_mustwin', png, 200px, 160px);
}
@mixin opencredo-logo {
	@include img-retina( '../images/partner_opencredo', png, 200px, 160px);
}
@mixin opex-logo {
	@include img-retina( '../images/partner_opex', png, 200px, 160px);
}
@mixin rean-logo {
  @include img-retina( '../images/partner_rean', jpg, 200px, 160px);
}
@mixin slalom-logo {
	@include img-retina( '../images/partner_slalom', png, 200px, 160px);
}
@mixin unifio-logo {
	@include img-retina( '../images/partner_unifio', png, 200px, 160px);
}
@mixin vibrato-logo {
	@include img-retina( '../images/partner_vibrato', png, 200px, 160px);
}
@mixin xebia-logo {
	@include img-retina( '../images/partner_xebia', png, 200px, 160px);
}

.partners {

  .bnr{
    margin-top: 0;
  }
  .inner-page-header{
    h1{
      margin-bottom: 0;
    }
  }

  h1 {
    color: $black;
    font-weight: 300;
  }

  .intropart {
    @include section-border-bottom();
  }

  .sipart {
    text-align: center;

    .panel-wrap{
      display: flex;
    	flex-flow: row wrap;
    }

    .pan {
      width: 33%;
      padding: 0 10px 10px;
      border-right: 1px solid $off-white;
      margin-bottom: $med-pad;

      &:last-child, &:nth-child(3n+3){
        border-right: none;
      }

      .pan-heading {
        padding: 10px 0;
        background-color: $black;
      }

      h2 {
        text-align: center;
        margin: 0;
        a{
          color: $white;
        }
      }

      img {
        padding: 5px;
      }
      .pan-body{
        padding-right: $small-pad;
        padding-left: $small-pad;
        .plogo{
         i{
           width: 200px;
           height: 160px;
           background-position: center center;

           &.asteris{
             @include asteris-logo();
           }
           &.cheval{
             @include cheval-logo();
             background-size: 140px 112px !important;
           }
           &.contsoln{
             @include contsoln-logo();
             background-size: 150px 120px !important;
           }
           &.creationline{
             @include creationline-logo();
           }
           &.cynergypro{
             @include cynergypro-logo();
           }
           &.mustwin{
             @include mustwin-logo();
             background-size: 140px 112px !important;
           }
           &.opencredo{
             @include opencredo-logo();
           }
           &.opex{
             @include opex-logo();
             background-size: 140px 112px !important;
           }
           &.rean{
             @include rean-logo();
           }
           &.slalom{
             @include slalom-logo();
           }
           &.unifio{
             @include unifio-logo();
           }
           &.vibrato{
             @include vibrato-logo();
             background-size: 140px 112px !important;
           }
           &.xebia{
             @include xebia-logo();
           }
         }
       }
      }

      p {
        color: $black;
      }

      .atbottom {
        vertical-align: bottom;
      }

      a.contactus {
        margin-top: 20px;
      }

      .outline-btn:hover {
        color: $black;
      }
    }
  }

  article {
    padding: 80px 0;

    h2 {
      font-size: 28px;
    }
  }

  h1 {
    text-align: center;
    margin-bottom: $med-pad;
  }

  img{
    max-width: 100%;
    height: auto;
  }

  .big-background {
    background-color: $black !important;
    color: $white;

    .date {
      color: $white;
    }

    img {
      opacity: .7;
      background: $black;
    }
  }

  .techparts {
    color: $white;
    background-color: $white;
    text-align: center;
    @include section-border-bottom();

    ul.techpart-logos {
      position: relative;
      width: 100%;
      @include clearfix();
      padding: 0;

      li {
        float: left;
        width: 33.3333%;
        height: 128px;
        overflow: hidden;

        &.tpart{
          @include img-retina( '../images/techpart-sprite', png, 1130px, 256px);
        }

        &.tp1 {
          background-position: 0px 0;
        }
        &.tp2 {
          background-position: -380px 0;
        }
        &.tp3 {
          background-position: -760px 0;
        }
        &.tp4 {
          background-position: 0px -128px;
        }
        &.tp5 {
          background-position: -380px -128px;
        }
        &.tp6 {
          background-position: -760px -128px;
        }
      } // li
    } //ul
  }
}
