// partners

// Media breakpoints (using BS 3.2 nomenclature)
// @screen-sm-min: 768px;
// @screen-md-min: 992px;
// @screen-lg-min: 1200px;
//
// @screen-xs-max: (@screen-sm-min - 1);
// @screen-sm-max: (@screen-md-min - 1);
// @screen-md-max: (@screen-lg-min - 1);


.partners {
  .intropart {
    background-color: #f7f7f9;
  }

  .sipart {
    background-color: #f7f7f9;
    text-align: center;

    h1 {
      color: $black;
    }

    .panel {
      .panel-heading {
        background-color: $gray;
      }

      h2 {
        text-align: center;
        margin-bottom: 0px;
        color: $white;
        // .lato-light();
      }

      img {
        padding: 5px;
      }
      .panel-body {
        i{
          width: 200px;
          height: 160px;

          &.asteris{
            .asteris-logo();
          }
          &.cheval{
            .cheval-logo();
          }
          &.contsoln{
            .contsoln-logo();
          }
          &.creationline{
            .creationline-logo();
          }
          &.cynergypro{
            .cynergypro-logo();
          }
          &.mustwin{
            .mustwin-logo();
          }
          &.opencredo{
            .opencredo-logo();
          }
          &.opex{
            .opex-logo();
          }
          &.rean{
            .rean-logo();
          }
          &.slalom{
            .slalom-logo();
          }
          &.unifio{
            .unifio-logo();
          }
          &.vibrato{
            .vibrato-logo();
          }
          &.xebia{
            .xebia-logo();
          }
        }
      }

      p {
        color: $black;
      }

      .atbottom {
        vertical-align: bottom;
      }

      a.contactus {
        margin-top: 20px;
      }

      .outline-btn:hover {
        color: $black;
      }
    }
  }

  article {
    padding: 80px 0;

    &:first-child {
      padding: 40px 0 80px;
    }

    h2 {
      font-size: 28px;
    }

  }

  h1 {
    padding: 0 0 60px 0;
    color: @black;
    text-transform: uppercase;
    letter-spacing: 3px;
    // .lato-bold;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
  }

  img{
    max-width: 100%;
    height: auto;
  }

  .meta-wrap{
    position: relative;

    a{
      &:hover{
        text-decoration: underline;
        color: $blue;
      }
    }

    .meta{
      position: relative;
      font-size: 12px;
      text-transform: uppercase;
      margin-right: 18px;
      color: $light-gray-text;

      &.meta-tag {
        margin-right: 0px;
      }

      &::after{
        content: '';
        position: absolute;
        top: 5px;
        right: -12px;
        width: 3px;
        height: 3px;
        border-radius: 3px;
        background-color: $lightgray;
      }

      &.last{
        &::after{
          display: none;
        }
      }
    }
  }

  pre {
    margin-top: $base-line-height;
  }

  .big-background {
    background-color: $black !important;
    color: $white;

    .date {
      color: $white;
    }

    img {
      opacity: .7;
      background: $black;
    }
  }

  .techparts {
    color: $white;
    background-color: $white;
    text-align: center;

    ul.techpart-logos {
      position: relative;
      width: 100%;
      .clearfix;
      padding: 0;

      li {
        float: left;
        width: 33.3333%;
        height: 128px;
        overflow: hidden;

        &.tpart{
          @include img-retina( '../images/v2/techpart-sprite', png, 1130px, 256px);
        }

        &.tp1 {
          background-position: 0px 0;
        }
        &.tp2 {
          background-position: -380px 0;
        }
        &.tp3 {
          background-position: -760px 0;
        }
        &.tp4 {
          background-position: 0px -128px;
        }
        &.tp5 {
          background-position: -380px -128px;
        }
        &.tp6 {
          background-position: -760px -128px;
        }
      } // li
    } //ul
  }
}
