//
// Tao
// --------------------------------------------------

body.tao{
  .template-hero{
    .template-hero-content{
      @include img-retina( '../images/v2/tao-hero-bg', png, 813px, 317px);
      background-position: center bottom;
    }
  }

  .subhero-site-wrap{
    background-color: $white;
    color: $black;
  }

  section{
    padding: 120px 0;
  }
}

@media (max-width: 768px) {

}

@media (min-width: 992px) {

}
