//
// Tao
// --------------------------------------------------

body.tao{
  .template-hero{
    .template-hero-content{
      @include img-retina( '../images/v2/tao-hero-bg', png, 813px, 317px);
      background-position: center bottom;
    }
  }

  .subhero-site-wrap{
    background-color: $white;
    color: $black;
  }

  section{
    padding: 120px 0;
  }

  #tao-features{

    .content{
      margin-bottom: $large-pad;
    }

    .graphic i{
      display: block;
      margin-top: $med-pad;
      width: 100%;
      background-position: center 0;
    }

    .t1{
      .graphic i{
        height: 233px;
        @include img-retina( '../images/v2/tao-1', png, 233px, 184px);
      }
    }

    .t2{
      .graphic i{
        height: 168px;
        @include img-retina( '../images/v2/tao-2', png, 285px, 168px);
      }
    }
    .t3{
      .graphic i{
        height: 262px;
        @include img-retina( '../images/v2/tao-3', png, 251px, 262px);
      }
    }
    .t4{
      .graphic i{
        height: 151px;
        @include img-retina( '../images/v2/tao-4', png, 274px, 151px);
      }
    }
    .t5{
      .graphic i{
        height: 165px;
        @include img-retina( '../images/v2/tao-5', png, 299px, 165px);
      }
    }
    .t6{
      .graphic i{
        height: 297px;
        @include img-retina( '../images/v2/tao-6', png, 180px, 297px);
      }
    }
    .t7{
      .graphic i{
        height: 224px;
        @include img-retina( '../images/v2/tao-7', png, 235px, 224px);
      }
    }
    .t8{
      .graphic i{
        height: 190px;
        @include img-retina( '../images/v2/tao-8', png, 283px, 190px);
      }
    }
  }
}

@media (min-width: 1200px) {
  #tao-features{
    .content{
      margin-bottom: $xl-pad !important;
    }
  }
}

@media (max-width: 768px) {
  #tao-features{
    .row{
      display: flex;
      flex-flow: column;
      text-align: center;

      > div{
        flex: 1 auto;
      }
    }

    .graphic{
      order: 1;
      margin-bottom: $xsmall-pad;
    }

    .content{
      order: 2;
      margin-bottom: $med-pad !important;
    }
  }
}

@media (min-width: 992px) {

}
