//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

$header-height:         90px;
$btn-border-radius:     4px;
$el-border-radius:      6px;

// colors
// -------------------------

$white:                 #fff;
$off-white:             #ECECEC; // CED1D6 //CDD0D8
$sub-white:             #CED1D6;
$off-white-bg:          #F7F8FB;
$black:                 #030811;
$light-black:           #37434E;
$green:                 #56cdad;
$blue-dark:             #062756; //37434E
$blue-black:            #3F576B;
$blue-darkest:          #031939;
$blue-light:            #B1CFE5;
$blue:                  #0E65E5;
$blue-link:             #127EFF;
$blue-faint:            #E7ECF2;
$gray-dark:             #3B4142;
$gray:                  #929199;
$gray-font:             #89909A;
$gray-light:            #939393;
$gray-lighter:          #979797;
$orange:                #FF6D38;

$dft-brdr-clr:          #1A253F; // #26364C; // #313944;
$dark-input-bg:         #171D29; // #112746
$light-input-bg:        $blue-faint;

$vagrant-color: #48b4fb;
$packer-color: #7bc6b1;
$serf-color: #E14B55;
$consul-color: #694a9c;
$terraform-color: #822ff7;
$vault-color: #00D8FE; //#00a9c7;
$nomad-color: #56cdad;
$otto-color: $orange;

$vagrant-dark-color: darken(#48b4fb, 10%);
$packer-dark-color: darken(#7bc6b1, 10%);
$serf-dark-color: darken(#E14B55, 10%);
$consul-dark-color: darken(#694a9c, 10%);
$terraform-dark-color: darken(#822ff7, 10%);
$vault-dark-color: darken(#00D8FE, 10%);
$nomad-dark-color: darken(#56cdad, 10%);
$otto-dark-color: darken($orange, 10%);

// helper list for loops. ORDER IS IMPORTANT
$colors-dark-list: $vagrant-dark-color $packer-dark-color $serf-dark-color $consul-dark-color $terraform-dark-color $vault-dark-color $nomad-dark-color $otto-dark-color;
$colors-list: $vagrant-color $packer-color $serf-color $consul-color $terraform-color $vault-color $nomad-color $otto-color;
$name-list: ('vagrant', 'packer', 'serf', 'consul', 'terraform', 'vault', 'nomad', 'otto');

// Scaffolding
// -------------------------
$body-bg:               #fff;
$text-color:            $gray;

// Typography
// -------------------------
$font-family-open-sans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-klav:     'klavika-web', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-weight-thin:      300;
$font-weight-reg:       400;
$font-weight-medium:    600;
$font-weight-bold:      700;
$font-size-xl:          54px;
$font-size-l:           40px;
$font-size-m:           28px;
$font-size-sml:         18px;
$font-size-reg:         16px;

$text-shadow:           1px 1px 1px #000;
$shadow:                $text-shadow;

//type
$mono-stack: 'Inconsolata', monaco, courier, monospace;
$base-font-size: 18px;
$base-code-size: 16px;
$base-line-height: 1.55em;
$baseline: 20px;
$headline-span-size: 30px;

//margin + padding
$base-pad:              15px;
$xsmall-pad:            20px;
$small-pad:             30px;
$med-pad:               60px;
$large-pad:             120px;
$xl-pad:                150px;
$small-body:            700px;
$template-hero-height:  600px;
$template-h4-width:     540px;

$light-outline:         #f7f7f7;

//
$easeInOutBack:         cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easeOutBack:           cubic-bezier(0.175, 0.885, 0.32, 1.275);
