//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

$header-height:         90px;
$btn-border-radius:     4px;
$el-border-radius:      6px;
// colors
// -------------------------

$white:                 #fff;
$off-white:             #f1f1f1;
$black:                 #030811;
$light-black:           #242424;
$green:                 #56cdad;
$green-dark:            #449b82;
$green-light:           #9bdb9c;
$green-faint:           #E3F5E3;
$blue-dark:             #062756;
$blue-darkest:          #031939;
$blue-light:            #B1CFE5;
$blue:                  #0E65E5;
$blue-faint:            #E0E8E8;
$faint-gray:            #E3E3EA;
$gray-dark:             #3B4142;
$gray:                  #929199;
$gray-light:            #939393;
$gray-lighter:          #979797;
$orange:                #FF6D38;

$dft-brdr-clr:          #313944;

// Scaffolding
// -------------------------
$body-bg:               #fff;
$text-color:            $gray;

// Typography
// -------------------------
$font-family-open-sans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-klav:     'klavika-web', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-weight-xl:        300;
$font-weight-reg:       400;
$font-weight-sb:        600;
$font-weight-xb:        700;
$font-size-xl:          54px;
$font-size-l:           36px;
$font-size-m:           28px;
$font-size-reg:         16px;

$text-shadow:           1px 1px 1px #000;
$shadow:                $text-shadow;

//type
$mono-stack: 'Inconsolata', monaco, courier, monospace;
$base-font-size: 18px;
$base-code-size: 16px;
$base-line-height: 1.55em;
$baseline: 20px;
$headline-span-size: 30px;

//margin + padding
$xsmall-pad:            20px;
$small-pad:             30px;
$med-pad:               70px;
$large-pad:             120px;
$xl-pad:                150px;
$small-body: 700px;

$light-outline:         #f7f7f7;

//
$easeInOutBack:         cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easeOutBack:           cubic-bezier(0.175, 0.885, 0.32, 1.275);
