//
// Pricing
// -------------------------------------------------


.pricing{
  display: flex;

  .col{
    flex: 1;
    padding: $small-pad $xsmall-pad;
    border-left: 1px solid $dft-brdr-clr;

    &:first-child{
      border-left: none;
    }

    &.enterprise{
      border: 1px solid $dft-brdr-clr;
    }

    .pricing-header{
      text-align: center;

      h1{
        display: inline-block;
        margin-bottom: 5px;
        margin-top: 0px;
      }

      p{
          margin: 0;
      }

      .hbtn{
        margin: $small-pad 0 $med-pad;
      }
    }

    .pricing-number{
      position: relative;
      &:before{
        content: "$";
        position: absolute;
        top: 10px;
        left: -10px;
        font-size: 14px;
      }
    }

    .pricing-features{
      margin: 0 20px;
      padding-top: 25px;
      text-align: center;

      .ul-wrap{
        display: inline-block;
      }

      ul{
        // width: 80%;
        text-align: left;
        margin-bottom: $xsmall-pad +10;

        &.ul-2{
          li{
            &:before{
              background-position: 0 -11px;
            }
          }
        }

        &.ul-3{
          li{
            &:before{
              background-position: 0 -22px;
            }
          }
        }

        li{
          position: relative;
          margin-bottom: 10px;
          padding-left: $small-pad;

          &:before{
            content: '';
            position: absolute;
            top: 7px;
            left: 0;
            display: inline-block;
            width: 13px;
            height: 11px;
            margin-right: 12px;
            @include img-retina( '../images/v2/atlas-check-sprite', png, 13px, 33px);
          }
        }
      }
    }
  }
}

@media (max-width: 768px){
  .pricing{
    flex-direction: column;

    .col, .col.enterprise{
      flex: 1;
      border-top: 8px solid $dft-brdr-clr;
      border-right: 8px solid $dft-brdr-clr;
      border-left: 8px solid $dft-brdr-clr;

      &:first-child{
        border-left: 8px solid $dft-brdr-clr;
      }

      &:last-child{
        border-bottom: 8px solid $dft-brdr-clr;
      }

      // &:first-child{
      //   border-left: none;
      // }
      //
      // &.enterprise{
      //   border: 1px solid $blue;
      // }
      //
      // .pricing-header{
      //   text-align: center;
      //   h1{
      //     display: inline-block;
      //   }
      //
      //   p{
      //       margin: 0;
      //   }
      //
      //   .hbtn{
      //     margin: $small-pad 0 $med-pad;
      //   }
      // }
      //
      // .pricing-number{
      //   position: relative;
      //   &:before{
      //     content: "$";
      //     position: absolute;
      //     top: -4px;
      //     left: -10px;
      //     font-size: 14px;
      //   }
      // }
      //
      // .pricing-features{

      //}
    }
  }
}
