//
// Atlas List features
// /index and /atlas
// -------------------------------------------------


.atlas-highlights{

  &.white{
    color: $black;
    .atlas-features-header{
      h2,p{
        color: $black;
      }
    }
    .atlas-features-flex{
      .atlas-feature{

      }
    }
  }

  .atlas-highlights-header{
    text-align: center;
  }
  .atlas-highlights-flex{
    display: flex;
    flex-wrap: wrap;
    .atlas-highlights-item{
      width: 50%;
      padding-left: 96px;
      box-sizing: border-box;
    }
  }
}
