//
// Contact Form
// /index and /atlas
// -------------------------------------------------


.white{
  .contact-form{
    form{
      input, textarea{
        background-color: $light-input-bg;

        @include placeholder {
          color: $black;
        }
      }
    }
  }
}

.contact-form{
  .form-header{
    text-align: center;
  }

  form{
    display: flex;
    flex-flow: row wrap;
    width: $small-body;
    margin: 0 auto;

    input, textarea{
      flex-grow: 1;
      background-color: $dark-input-bg;
      border: none;
      margin-top: $xsmall-pad;
      padding: 15px 10px 15px 20px;

      @include placeholder {
        color: $white;
      }
    }

    .left, .right, .bottom{
      display: flex;
    }

    .left, .right{
      flex: 1 auto;
      flex-direction: column;
    }

    .bottom{
      flex: 1 100%;
      justify-content: center;
      margin-top: $xsmall-pad;
      text-align: center;

      .hbtn{
        border: none;
        padding: 8px 80px;
      }
    }

    .left{
      // padding-right: $xsmall-pad;
    }

    .right{
      padding-left: $xsmall-pad;
    }
  }
}

@media (max-width: 768px){
  .contact-form{
    form{
      width: 100%;
      padding: 0 $xsmall-pad;
    }
  }
}

@media (max-width: 480px){
  .contact-form{
    form{
      flex-flow: column wrap;

      .bottom{
        .hbtn{
          width: 100%;
        }
      }

      .right{
        padding-left: 0;
      }
    }
  }
}
