// .customer-wrap{
//   display: flex;
//   flex-wrap: wrap;
// }
//
// .customer-item{
//   width: 25%;
//   height: 120px;
//   @include img-retina( '../images/v2/atlas-customer', png, 144px, 27px);
//   background-position: center center;
// }

@mixin dark-customer{
  @include img-retina( '../images/v2/atlas-customer-black', png, 144px, 27px);
}

.customer-wrap{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 0;

  li{
    width: 25%;
    height: 120px;
    background-position: center center;

    &.classpass-a{
      @include img-retina( '../images/v2/customers/customer-a-classpass', png, 135px, 16px);
    }
    &.yc-a{
      @include img-retina( '../images/v2/customers/customer-a-yc', png, 145px, 29px);
    }
    &.openai-a{
      @include img-retina( '../images/v2/customers/customer-a-openai', png, 104px, 29px);
    }
    &.condenast-a{
      @include img-retina( '../images/v2/customers/customer-a-condenast', png, 144px, 22px);
    }
    &.mozilla-a{
      @include img-retina( '../images/v2/customers/customer-a-mozilla', png, 144px, 39px);
    }

    &.do{
      @include img-retina( '../images/v2/customers/customer-do', png, 144px, 24px);
    }
    &.yc{
      @include img-retina( '../images/v2/customers/customer-yc', png, 145px, 29px);
    }
    &.openai{
      @include img-retina( '../images/v2/customers/customer-openai', png, 104px, 29px);
    }
    &.condenast{
      @include img-retina( '../images/v2/customers/customer-condenast', png, 144px, 22px);
    }
    &.cisco{
      @include img-retina( '../images/v2/customers/customer-cisco', png, 104px, 55px);
    }
    &.capitolone{
      @include img-retina( '../images/v2/customers/customer-capitolone', png, 144px, 52px);
    }
    &.stripe{
      @include img-retina( '../images/v2/customers/customer-stripe', png, 144px, 39px);
    }
    &.pinterest{
      @include img-retina( '../images/v2/customers/customer-pinterest', png, 144px, 37px);
    }

    &:not(:nth-child(-n+4)){
      border-bottom: none;
    }

    &:nth-child(4n){
      border-right: none;
    }

    &:nth-child(1n){
      border-left: none;
    }
  }
}

@media (max-width: 768px){
  .customer-wrap{
    li{
      width: 50%;
    }
  }
}

@media (max-width: 480px){
  .customer-wrap{
    li{
      width: 100%;
      height: 85px;
    }
  }
}
