.info{

  &.blue-brdr{
    .info-split{
      .info-block{
        border-left: 1px solid $blue;
        border-right: 1px solid $blue;
      }
    }
    .info-full{
      > div{
        border-left: 1px solid $blue;
        border-right: 1px solid $blue;
      }
    }

    > .container{
      > .row{
        .row{
          border-top: 1px solid $blue;
          border-bottom: 1px solid $blue;
        }
      }
    }
  }

  &.light-brdr{
    .info-split{
      .info-block{
        border-left: 1px solid $off-white;
        border-right: 1px solid $off-white;
      }
    }
    .info-full{
      > div{
        border-left: 1px solid $off-white;
        border-right: 1px solid $off-white;
      }
    }

    > .container{
      > .row{
        .row{
          border-top: 1px solid $off-white;
          border-bottom: 1px solid $off-white;
        }
      }
    }
  }

  h2{
    margin: 0 0 $small-pad;
    text-align: center;
  }

  h3{
    margin-top: 0;
  }

  .info-split{
    display: flex;

    .info-block{
      flex: 1 auto;
      padding: $small-pad;
      text-align: left;
      border-left: 1px solid $dft-brdr-clr;
      border-right: 1px solid $dft-brdr-clr;

      &:first-child{
        border-right: none;
      }
    }
  }

  .info-full{
    > div{
      padding: $small-pad;
      text-align: left;
      border-left: 1px solid $dft-brdr-clr;
      border-right: 1px solid $dft-brdr-clr;
    }
  }

  > .container{
    > .row{
      .row{
        border-top: 1px solid $dft-brdr-clr;
        border-bottom: 1px solid $dft-brdr-clr;

        &:last-child{
          border-top: none;

          .info-block{
            border-bottom: none;
          }
        }
      }

      >.bdr{
          //border: 1px solid $dft-brdr-clr;
      }
    }
  }
}

@media (max-width: 768px){
  .info{
    .info-split{
      display: block;
      .info-block{
        border-left: none !important;
        border-right: none !important;
        // border-bottom: 1px solid $dft-brdr-clr;
      }
    }
    .info-full{
      > div{
        border-left: none !important;
        border-right: none !important;
        // border-bottom: 1px solid $dft-brdr-clr;
      }
    }
    > .container{
      > .row{
        .row{
          border-top: none !important;
          border-bottom: none !important;
        }
      }
    }
  }
}
