---
title: About
page_title: About
---

<div class="page inner-page">
  <!-- page title -->

  <div class="hero-mask template-hero-mask">
    <div class="hero template-hero">
      <div class="hero-content template-hero-content">
        <div class="container">
          <div class="row">
            <div class="template-headline">
              <h2 class="tag">About Us</h2>
              <h4>
                HashiCorp is a company based in San Francisco that
                solves development, operations, and security challenges in infrastructure
                so organizations can focus on business-critical tasks.
              </h4>
            </div>
          </div> <!-- row -->
        </div> <!-- container -->
      </div> <!-- hero-content -->
    </div> <!-- hero -->
  </div> <!-- hero-mask -->

  <div class="subhero-site-wrap">
    <div class="left-graphic"></div>
    <div class="right-graphic"></div>
    <section id="about-who-we">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-5 col-sm-12">
            <h2>Who We Are</h2>
            <p>
              HashiCorp was founded by Mitchell Hashimoto and Armon
              Dadgar in 2012 with the goal of revolutionizing datacenter
              management: application development, delivery, and maintenance.
            </p>
            <p>
              The datacenter of today is very different than the datacenter
              of yesterday, and we think the datacenter of tomorrow is just
              around the corner. We're writing software to take you all the way
              from yesterday to today, and then safely to tomorrow and beyond.
              <p>
                Physical, virtual, containers. Private cloud, public cloud,
                hybrid cloud. IaaS, PaaS, SaaS. Windows, Linux, Mac.
                These are just some of the choices faced when architecting
                a datacenter of today. And the choice is not one or the other;
                instead, it is often a combination of many of these.
              </p>
              <p>
                HashiCorp builds tools to ease these decisions by presenting
                solutions that span the gaps. Our tools manage both physical
                machines and virtual machines, Windows, and Linux, SaaS and IaaS,
                etc. And we're committed to supporting next-generation
                technologies, as well.
              </p>
              <p>
                HashiCorp was founded and continues to be run by the primary
                authors of all our core technologies powering thousands of
                companies worldwide. We speak at conferences and write books
                related to application and infrastructure management.
              </p>
              <p>
                All our foundational technologies are
                <a href="https://github.com/hashicorp">open source and developed openly</a>,
                and have been since 2010.
              </p>
            </div>

            <div class="col-lg-6 col-md-7 col-sm-12">
              <div class="about-pic"></div>
            </div>
          </div><!-- row -->
        </div><!-- container -->
      </section><!-- about-who-we -->

      <section id="about-tao" class="offbg">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <p>Learn what guides our vision, roadmap, and product design in</p>
                <div>
                  <h1>The Tao of HashiCorp</h1>
                  <a class="hbtn orange xlrg careted" href="/tao.html">Read Now<span class="hcaret"></span></a>
                </div>
              </div>
          </div><!-- row -->
        </div><!-- container -->
      </section><!-- press -->

      <section class="team">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2>Founders</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="founder-img founder-m"></div>
              <h4>Mitchell Hashimoto</h4>
              <p>Automation Obsessed, Vagrant Creator, Author, DevOps
                community figure, Engineer for 4 Years at CitrusByte,
                Operations for 2 years at Kiip, research at University of
                Washington.</p><a class="twitter-about" href=
                "https://www.twitter.com/mitchellh" style=
                "font-style: italic"></a>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="founder-img founder-a"></div>
                <h4>Armon Dadgar</h4>
                <p>Passion for distributed systems, research at University
                  of Washington, Big Data at Amazon. High-scale data services
                  at Kiip.</p><a class="twitter-about" href=
                  "https://www.twitter.com/armon" style=
                  "font-style: italic"></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="hiring">
                    <h2>Join us.</h2>
                    <div class="bnr-btn">
                      <a class="hbtn orange lrg careted" href="/jobs.html">View Jobs<span class="hcaret"></span></a>
                    </div>
                  </div>
                </div>
              </div><!-- row -->
            </div><!-- container -->
          </section><!-- team -->

          <section id="about-info" class="info">
            <div class="container">
              <div class="row">
                <div class="col-md-12 bdr">
                  <h1>Press Highlights</h1>
                  <div class="row info-split">
                    <div class="col-md-6 info-block">
                      <h3 class="header">Atlas Leaves Beta</h3>
                      <p>
                        During the beta period, Atlas doubled nodes under management each month and attracted large enterprises such as Mozilla, Cisco, and Capgemini as well as growing startups. The success of the beta further solidifies HashiCorp's position as a leader in the DevOps marketplace.
                      </p>
                      <a href="http://www.marketwired.com/press-release/hashicorps-atlas-leaves-beta-with-triple-digit-monthly-revenue-growth-mozilla-cisco-2036398.htm" class="footer">Read the Press Release</a>
                    </div><!-- /.col-md-6 info-block -->
                    <div class="col-md-6 info-block">
                      <h3 class="header">
                        HashiCorp Releases Nomad
                      </h3>
                      <p>
                        "Nomad is a hugely exciting product for us. It gives developers a simple workflow to manage containerized, virtualized, and standalone applications," said Armon Dadgar, co-founder and CTO of HashiCorp. "While there were tools to do this previously, we've made a huge leap in operational simplicity and scalability."
                      </p>
                      <a href="http://www.marketwired.com/press-release/hashicorp-releases-nomad-easier-use-more-scalable-more-flexible-scheduler-deployment-2058975.htm" class="footer">Read the Press Release</a>
                    </div><!-- /.col-md-6 info-block -->
                  </div><!-- /.row  .info-split-->
                  <div class="row info-full">
                    <div class="col-md-12">
                      <h3 class="header">Media and Analyst Coverage</h3>
                      <ul>
                          <p><a href="http://redmonk.com/fryan/2015/09/28/the-hashicorp-adoption-curve/">The HashiCorp Adoption Curve</a> - RedMonk, 9/28/2015</p>
                          <p><a href="http://www.forbes.com/sites/justinwarren/2015/09/28/hashicorp-completes-portfolio-of-devops-tools-with-otto-and-nomad/">HashiCorp Completes Portfolio of DevOps Tools with Otto and Nomad</a> - Forbes, 9/28/2015</p>
                          <p><a href="http://wikibon.com/technical-dive-into-cloud-native-application-platforms/">Technical Dive into Cloud Native Application Platforms</a> - Wikibon, 9/09/2015</p>
                          <p><a href="http://www.infoq.com/news/2015/09/hashicorp-vault">Storing Secrets at Scale with HashiCorp's Vault: Q&amp;A with Armon Dadgar</a> - InfoQ, 9/09/2015</p>
                          <p><a href="http://www.forbes.com/sites/justinwarren/2015/09/06/hashicorp-adds-support-vmware-vcloud-air/">HashiCorp Adds Support For VMware vCloud Air</a> - Forbes, 9/06/2015</p>
                          <p><a href="http://devops.com/2015/08/07/9-open-source-devops-tools-love/">9 Open Source DevOps Tools We Love</a> - DevOps.com, 8/07/2015</p>
                          <p><a href="http://blogs.wsj.com/venturecapital/2014/12/10/hashicorp-raises-10-million-to-automate-data-center-applications/">HashiCorp Raises $10 Million to Automate Data Center Applications</a> - Wall Street Journal, 12/10/2014</p>
                      </ul>
                    </div><!-- /.col-md-10 -->
                  </div> <!-- /.row .info-full -->
                </div><!-- /.col-md-12 -->
              </div> <!-- /.row -->
            </div> <!-- /.container -->
          </section> <!-- /#section-os -->

        </div><!--  subhero-site-wrap -->
      </div><!-- page inner-page -->
