---
title: About
page_title: About
---

<div class="page inner-page">
  <!-- page title -->

  <div class="hero-mask template-hero-mask">
    <div class="hero template-hero">
      <div class="hero-content template-hero-content">
        <div class="container">
          <div class="row">
            <div class="template-headline">
              <h2 class="tag">About Us</h2>
              <h4>HashiCorp delivers pragmatic solutions to maximize developer and operator agility.
                Build microservice-driven applications that are codified, automated, scalable and secure.
              </h4>
            </div>
          </div> <!-- row -->
        </div> <!-- container -->
      </div> <!-- hero-content -->
    </div> <!-- hero -->
  </div> <!-- hero-mask -->

  <div class="subhero-site-wrap">
    <div class="left-graphic"></div>
    <div class="right-graphic"></div>
    <section id="about-who-we">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h2>Who We Are</h2>
            <p>
              HashiCorp was founded by Mitchell Hashimoto and Armon
              Dadgar in 2012 with the goal of revolutionizing datacenter
              management: application development, delivery, and maintenance.
            </p>
            <p>
              The datacenter of today is very different than the datacenter
              of yesterday, and we think the datacenter of tomorrow is just
              around the corner. We're writing software to take you all the way
              from yesterday to today, and then safely to tomorrow and beyond.
              <p>
                Physical, virtual, containers. Private cloud, public cloud,
                hybrid cloud. IaaS, PaaS, SaaS. Windows, Linux, Mac.
                These are just some of the choices faced when architecting
                a datacenter of today. And the choice is not one or the other;
                instead, it is often a combination of many of these.
              </p>
              <p>
                HashiCorp builds tools to ease these decisions by presenting
                solutions that span the gaps. Our tools manage both physical
                machines and virtual machines, Windows, and Linux, SaaS and IaaS,
                etc. And we're committed to supporting next-generation
                technologies, as well.
              </p>
              <p>
                HashiCorp was founded and continues to be run by the primary
                authors of all our core technologies powering thousands of
                companies worldwide. We speak at conferences and write books
                related to application and infrastructure management.
              </p>
              <p>
                All our foundational technologies are
                <a href="https://github.com/hashicorp">open source and developed openly</a>,
                and have been since 2010.
              </p>
            </div>

            <div class="col-md-6 col-sm-12">
              <div class="about-pic"></div>
            </div>
          </div><!-- row -->
        </div><!-- container -->
      </section><!-- about-who-we -->

      <section id="about-tao" class="offbg">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <p>Learn what guides our vision, roadmap, and product design in</p>
                <div>
                  <h1>The Tao of HashiCorp</h1>
                  <a class="hbtn orange" href="/blog/tao-of-hashicorp.html">Read Now</a>
                </div>
              </div>
          </div><!-- row -->
        </div><!-- container -->
      </section><!-- press -->

      <section class="team">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2>Founders</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
              <div class="founder-img founder-m"></div>
              <h4>Mitchell Hashimoto</h4>
              <p>Automation Obsessed, Vagrant Creator, Author, DevOps
                community figure, Engineer for 4 Years at CitrusByte,
                Operations for 2 years at Kiip, research at University of
                Washington.</p><a class="twitter-about" href=
                "https://www.twitter.com/mitchellh" style=
                "font-style: italic"></a>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
                <div class="founder-img founder-a"></div>
                <h4>Armon Dadgar</h4>
                <p>Passion for distributed systems, research at University
                  of Washington, Big Data at Amazon. High-scale data services
                  at Kiip.</p><a class="twitter-about" href=
                  "https://www.twitter.com/armon" style=
                  "font-style: italic"></a>
                </div>
                <div class="hiring col-md-4 hidden-sm hidden-xs">
                  <h2>Join us.</h2><a class="hbtn outline-btn large" href=
                  "/jobs.html">View Jobs<span class=
                  "light-caret-right large"></span></a>
                </div>
              </div><!-- row -->
            </div><!-- container -->
          </section><!-- team -->

          <section id="about-info" class="info">
            <div class="container">
              <div class="row">
                <div class="col-md-12 bdr">
                  <h1>Resources</h1>
                  <div class="row info-split">
                    <div class="col-md-6 info-block">
                      <h3 class="header">Sub Header</h3>
                      <p>
                        Codified and self service workflow for collaboration on applications that is fully automated from development to production, all with visibility and controls.
                      </p>
                      <a href="#" class="footer">Read More</a>
                    </div><!-- /.col-md-6 info-block -->
                    <div class="col-md-6 info-block">
                      <h3 class="header">
                        Sub Header
                      </h3>
                      <p>
                        Codified and self service workflow for collaboration on applications that is fully automated from development to production, all with visibility and controls. Codified and self service workflow .
                      </p>
                      <a href="#" class="footer">Read More</a>
                    </div><!-- /.col-md-6 info-block -->
                  </div><!-- /.row  .info-split-->
                  <div class="row info-full">
                    <div class="col-md-12">
                      <h3 class="header">Sub Header</h3>
                      <ul>
                        <li><a href="#">Morbi euismotique mauris hendrerit.</a></li>
                        <li><a href="#">Morbi euismotique mauris hendrerit.</a></li>
                        <li><a href="#">Morbi euismotique mauris hendrerit.</a></li>
                      </ul>
                    </div><!-- /.col-md-10 -->
                  </div> <!-- /.row .info-full -->
                </div><!-- /.col-md-12 -->
              </div> <!-- /.row -->
            </div> <!-- /.container -->
          </section> <!-- /#section-os -->

        </div><!--  subhero-site-wrap -->
      </div><!-- page inner-page -->
