---
title: About
page_title: About
---

<section class="page inner-page">
	<!-- page title -->

	<div class="inner-page-header" id="subheader">
		<div class="container">
			<div class="row">
				<h1 class="headline">About Us</h1>
			</div>
		</div>
	</div><!-- page contents -->

	<article class="history">
		<div class="container">
			<div class="row">
				<!-- <div class="col-xs-12">
					<h2>HashiCorp's Vision</h2>
				</div> -->

				<div class="col-md-6 col-sm-12">
					<p>
						Mohamicorp was founded by Mohammed Davoodi in 2015 with the goal of
						disrupting the enterprise and developer tools marketplace. Mohamicorp
						software is currently used by hundreds of companies worldwide.
					</p>

				</div>

				<div class="col-md-6 col-sm-12">
					<p>
						Mohamicorp builds tools to help increase developer productivity and
						efficiency. Current tools are built on top of the Atlassian suite of
						productivity software, with plugins available for Bitbucket (Stash)
						JIRA, Confluence.
					</p>
					<!-- <p>
					HashiCorp builds tools to ease these decisions by presenting
					solutions that span the gaps. Our tools manage both physical
					machines and virtual machines, Windows, and Linux, SaaS and IaaS,
					etc. And we're committed to supporting next-generation
					technologies, as well.
					</p>
					<p>
					HashiCorp was founded and continues to be run by the primary
					authors of all our core technologies powering thousands of
					companies worldwide. We speak at conferences and write books
					related to application and infrastructure management.
					</p>
					<p>
					All our foundational technologies are
					<a href="https://github.com/hashicorp">open source and developed openly</a>,
					and have been since 2010. -->
					</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</article><!-- about -->
<!--
	<article class="team">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>Founders</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
					<img height="340px" src="images/people/mh@2x.jpg" width=
					"370px">
					<h4>Mitchell Hashimoto</h4>
					<p>Automation Obsessed, Vagrant Creator, Author, DevOps
					community figure, Engineer for 4 Years at CitrusByte,
					Operations for 2 years at Kiip, research at University of
					Washington.</p><a class="twitter-about" href=
						"https://www.twitter.com/mitchellh" style=
						"font-style: italic"></a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
					<img height="340px" src="images/people/ad@2x.jpg" width=
					"370px">
					<h4>Armon Dadgar</h4>
					<p>Passion for distributed systems, research at University
					of Washington, Big Data at Amazon. High-scale data services
					at Kiip.</p><a class="twitter-about" href=
						"https://www.twitter.com/armon" style=
						"font-style: italic"></a>
				</div>
				<div class="hiring col-md-4 hidden-sm hidden-xs">
					<h2>Join us.</h2><a class="hbtn outline-btn large" href=
						"/jobs.html">View Jobs<span class=
							"light-caret-right large"></span></a>
				</div>
			</div>
		</div><
	</article> -->
</section><!-- page inner-page -->
