<div id="atlas-hero-mask" class="hero-mask">
  <div id="atlas-hero" class="hero">
    <div id="atlas-hero-content" class="hero-content">
      <div class="container">
        <div class="row">
          <div id="atlas-headline" class="col-md-6">
            <h1>Atlas is the HashiCorp workflow for the enterprise.</h1>
            <h2>HashiCorp delivers pragmatic solutions to maximize developer and operator agility.
              Build microservice-driven applications that are codified, automated, scalable and secure.
            </h2>
            <a class="hbtn orange lrg" href="#">Sign Up Now</a>
          </div>
          <div class="col-md-6">
            <div id="pipeline-wrap">
              <div id="pipeline-graphic"></div>
              <div class="pipeline-step pstep-1">
                <span>1</span>
                <p>Develop</p>
              </div>
              <div class="pipeline-step pstep-2">
                <span>2</span>
                <p>Test & Compile</p>
              </div>
              <div class="pipeline-step pstep-3">
                <span>3</span>
                <p>Build Artifact</p>
              </div>
              <div class="pipeline-step pstep-4">
                <span>4</span>
                <p>Deploy to Staging</p>
              </div>
              <div class="pipeline-step pstep-5">
                <span>5</span>
                <p>Promote to Production</p>
              </div>
            </div>
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- hero-content -->
  </div> <!-- hero -->
</div> <!-- hero-mask -->

<div class="subhero-site-wrap">
  <section id="atlas-why" class="section atlas-highlights white">
    <div class="container">
      <%= partial "layouts/atlas-highlights" %>
    </div> <!-- /.container-->
  </section> <!-- /#section-why -->

  <section id="atlas-features" class="section">
    <div id="atlas-features-header">
      <div class="container">
        <h1>Features</h1>
      </div>
    </div>
    <div id="atlas-feature-content">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1>Automation</h1>
            <div class="row automation-1">
              <div class="col-md-3">
                <div class="feature-graphic"></div>
              </div>
              <div class="col-md-9">
                <div class="feature-content">
                  <p>Codified and self service workflow for collaboration on applications that is fully automated from development to production, all with visibility and controls.</p>
                </div>
              </div>
            </div><!-- /.row -->
            <div class="row automation-2 t-right">
              <div class="col-md-8">
                <div class="feature-content">
                  <p>Version control software integrations (GitHub) to allow fully automated pipelines</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="feature-graphic"></div>
              </div>
            </div><!-- /.row -->
          </div>
        </div> <!-- /.row -->
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1>Flexibility</h1>
            <div class="row flexibility t-right">
              <div class="col-md-12">
                <div class="feature-content">
                  <p>Manage many types of infrastructures and application types</p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="feature-graphic"></div>
              </div>
            </div><!-- /.row -->
          </div>
        </div> <!-- /.row -->
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1>Security</h1>
            <div class="row">
              <div class="col-md-6">
                <div class="row security-1">
                  <div class="col-md-4">
                    <div class="feature-graphic"></div>
                  </div>
                  <div class="col-md-8">
                    <div class="feature-content">
                      <p>Audit every change</p>
                    </div>
                  </div>
                </div><!-- /.row -->
              </div> <!-- /.col-md-6 -->
              <div class="col-md-6">
                <div class="row security-2">
                  <div class="col-md-4">
                    <div class="feature-graphic"></div>
                  </div>
                  <div class="col-md-8">
                    <div class="feature-content">
                      <p>View the exact state of your infrastructure</p>
                    </div>
                  </div>
                </div><!-- /.row -->
              </div> <!-- /.col-md-6 -->
              <div class="col-md-6">
                <div class="row security-3">
                  <div class="col-md-4">
                    <div class="feature-graphic"></div>
                  </div>
                  <div class="col-md-8">
                    <div class="feature-content">
                      <p>Manage keys and secrets in one place, encrypted</p>
                    </div>
                  </div>
                </div><!-- /.row -->
              </div> <!-- /.col-md-6 -->
              <div class="col-md-6">
                <div class="row security-4">
                  <div class="col-md-4">
                    <div class="feature-graphic"></div>
                  </div>
                  <div class="col-md-8">
                    <div class="feature-content">
                      <p>Versioned, auditable, and repeatable</p>
                    </div>
                  </div>
                </div><!-- /.row -->
              </div> <!-- /.col-md-6 -->
            </div> <!-- /.row -->
          </div> <!-- /.col-md-10 col-md-offset-1 -->
        </div> <!-- /.row -->
      </div>
    </div>
  </section> <!-- /#atlas-features -->


  <div class="black-wrap">
    <section id="atlas-os" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1>Open Source at the Core</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis magna sed enim dignissim bibendum a feugiat neque. Suspendisse pellentesque nisi eu mi venenatis, a luctus nulla ultricies. Nullam faucibus, augue vitae blandit ornare, felis mi laoreet tortor.</p>
            <ul class="open-source-graphic">
              <li><a href="#">Vagrant</a></li>
              <li><a href="#">Packer</a></li>
              <li><a href="#">Consul</a></li>
              <li><a href="#">Terraform</a></li>
              <li><a href="#">Vault</a></li>
              <li><a href="#">Otto</a></li>
              <li><a href="#">Nomad</a></li>
            </ul>
          </div>
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </section> <!-- /#section-os -->

    <section id="atlas-info" class="info">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1>Resources</h1>
            <div class="row info-split">
              <div class="col-md-6 atlas-info">
                <h3 class="header">Sub Header</h3>
                <p>
                  Codified and self service workflow for collaboration on applications that is fully automated from development to production, all with visibility and controls.
                </p>
                <a href="#" class="footer">Read More</a>
              </div><!-- /.col-md-6 atlas-info -->
              <div class="col-md-6 atlas-info">
                <h3 class="header">
                  Sub Header
                </h3>
                <p>
                  Codified and self service workflow for collaboration on applications that is fully automated from development to production, all with visibility and controls. Codified and self service workflow .
                </p>
                <a href="#" class="footer">Read More</a>
              </div><!-- /.col-md-6 atlas-info -->
            </div><!-- /.row  .info-split-->
            <div class="row info-full">
              <div class="col-md-12">
                <h3 class="header">Sub Header</h3>
                <ul>
                  <li><a href="#">Morbi euismotique mauris hendrerit.</a></li>
                  <li><a href="#">Morbi euismotique mauris hendrerit.</a></li>
                  <li><a href="#">Morbi euismotique mauris hendrerit.</a></li>
                </ul>
              </div><!-- /.col-md-10 -->
            </div> <!-- /.row .info-full -->
          </div><!-- /.col-md-10 -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </section> <!-- /#section-os -->

    <section id="atlas-customers" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1>Customers</h1>
            <ul class="customers">
              <li class="customer"></li>
              <li class="customer"></li>
              <li class="customer"></li>
              <li class="customer"></li>
              <li class="customer"></li>
              <li class="customer"></li>
              <li class="customer"></li>
              <li class="customer"></li>
            </ul>
          </div>
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </section> <!-- /#section-os -->

    <section id="atlas-contact">
      <%= partial "layouts/contact-form" %>
    </section>

    <section id="atlas-pricing">
      <%= partial "layouts/atlas-pricing" %>
    </section>

    <section id="atlas-cta" class="section">
      <div id="cta-bnr" class="bnr gray-bnr">
      	<div class="container">
      		<div class="row">
      			<div class="col col-md-12">
      				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in viverra augue, eu volutpat eros.</p>
      				<a class="hbtn blue lrg fill has-caret" href="/tutorial">Tutorials<span class="h-caret"></span></a>
      			</div>
      		</div>
      	</div>
      </div>
    </section> <!-- /#home-cta -->

  </div> <!-- /.black-wrap -->

</div>
