<div id="atlas-hero-mask" class="hero-mask">
  <div id="atlas-hero" class="hero">
    <div id="atlas-hero-content" class="hero-content">
      <div class="container">
        <div class="row">
          <div id="atlas-headline" class="col-md-6 col-sm-7">
            <h1>Atlas is the HashiCorp workflow for the enterprise.</h1>
            <h2>
              Enable developers to rapidly deploy with an automated, policy-enforced workflow.
              Operators use Atlas's flexibility to tailor the platform to their environment,
              while still presenting a simple self-service experience to developers.
            </h2>
            <a class="hbtn orange lrg careted" href="#">Request a demo<span class="hcaret"></span></a>
          </div>
          <div class="col-md-6 col-sm-5">
            <div id="pipeline-wrap">
              <div id="pipeline-graphic"></div>
              <div class="pipeline-step pstep-1">
                <span>1</span>
                <p>Develop</p>
              </div>
              <div class="pipeline-step pstep-2">
                <span>2</span>
                <p>Test &amp; Compile</p>
              </div>
              <div class="pipeline-step pstep-3">
                <span>3</span>
                <p>Build Artifact</p>
              </div>
              <div class="pipeline-step pstep-4">
                <span>4</span>
                <p>Deploy to Staging</p>
              </div>
              <div class="pipeline-step pstep-5">
                <span>5</span>
                <p>Promote to Production</p>
              </div>
            </div>
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- hero-content -->
  </div> <!-- hero -->
</div> <!-- hero-mask -->

<div class="subhero-site-wrap">
  <section id="atlas-why" class="section atlas-highlights white">
    <div class="container">
      <%= partial "layouts/atlas-highlights" %>
    </div> <!-- /.container-->
  </section> <!-- /#section-why -->

  <section id="atlas-features" class="section">
    <div id="atlas-features-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            <h1>Features</h1>
          </div>
        </div>
      </div>
    </div>
    <div id="atlas-feature-content">
      <div class="container">
        <div class="row automation">
          <div class="col-lg-10 col-lg-offset-1 col-xs-12">
            <h2>Automation</h2>
            <div class="row">
              <div class="col-md-6 automation-1">
                <div class="feature-graphic"></div>
                <div class="feature-content">
                  <p>Reduce errors and deploy faster with a codified and automated deployment workflow. Transparency across the complete application delivery process ensures that problems are simple to diagnose and fix.</p>
                </div>
              </div>
              <div class="col-md-6 automation-2">
                <div class="feature-graphic"></div>
                <div class="feature-content">
                  <p>Integrate Atlas with version control software such as GitHub to allow all configurations to be defined in code and version controlled.</p>
                </div>
              </div>
            </div><!-- /.row -->
          </div>
        </div> <!-- /.row -->
        <div class="row flexibility">
          <div class="col-lg-10 col-lg-offset-1 col-xs-12">
            <h2>Flexibility</h2>
            <div class="row">
              <div class="col-md-12">
                <div class="feature-content">
                  <p>Manage resources across private and public infrastructures and deploy a diversity of application types.</p>
                </div>
                  <div class="feature-graphic"></div>
              </div>
            </div><!-- /.row -->
          </div>
        </div> <!-- /.row -->
        <div class="row security">
          <div class="col-lg-10 col-lg-offset-1 col-xs-12">
            <h2>Security</h2>
            <div class="row">
              <div class="col-sm-6">
                <div class="row security-1">
                  <div class="col-sm-4">
                    <div class="feature-graphic"></div>
                  </div>
                  <div class="col-sm-8">
                    <div class="feature-content">
                      <p>Audit every change</p>
                    </div>
                  </div>
                </div><!-- /.row -->
              </div> <!-- /.col-md-6 -->
              <div class="col-sm-6">
                <div class="row security-2">
                  <div class="col-sm-4">
                    <div class="feature-graphic"></div>
                  </div>
                  <div class="col-sm-8">
                    <div class="feature-content">
                      <p>View the exact state of your infrastructure</p>
                    </div>
                  </div>
                </div><!-- /.row -->
              </div> <!-- /.col-md-6 -->
              <div class="col-sm-6">
                <div class="row security-3">
                  <div class="col-sm-4">
                    <div class="feature-graphic"></div>
                  </div>
                  <div class="col-sm-8">
                    <div class="feature-content">
                      <p>Manage keys and secrets in one encrypted place</p>
                    </div>
                  </div>
                </div><!-- /.row -->
              </div> <!-- /.col-md-6 -->
              <div class="col-sm-6">
                <div class="row security-4">
                  <div class="col-sm-4">
                    <div class="feature-graphic"></div>
                  </div>
                  <div class="col-sm-8">
                    <div class="feature-content">
                      <p>Version, audit, and rollback any change</p>
                    </div>
                  </div>
                </div><!-- /.row -->
              </div> <!-- /.col-md-6 -->
            </div> <!-- /.row -->
          </div> <!-- /.col-md-10 col-md-offset-1 -->
        </div> <!-- /.row -->
      </div>
    </div>
  </section> <!-- /#atlas-features -->


    <section id="atlas-os" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-12">
            <h1>Open Source at the Core</h1>
            <p>
              Atlas is built on HashiCorp open source
              tools. Join a dedicated, open community of contributors
              and service providers that use and support our tools.
            </p>
            <ul class="open-source-graphic">
              <li><a href="#">Vagrant</a></li>
              <li><a href="#">Packer</a></li>
              <li><a href="#">Serf</a></li>
              <li><a href="#">Consul</a></li>
              <li><a href="#">Terraform</a></li>
              <li><a href="#">Vault</a></li>
              <li><a href="#">Otto</a></li>
              <li><a href="#">Nomad</a></li>
            </ul>
          </div>
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </section> <!-- /#section-os -->

    <section id="atlas-info" class="info white light-brdr">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>White Papers, Case Studies &amp; Datasheets</h1>
            <div class="row info-split">
              <div class="col-md-6 col-sm-12 info-block">
                <h3 class="header">Sub Header</h3>
                <p>
                  Codified and self service workflow for collaboration
                  on applications that is fully automated from development to production, all with visibility and controls.
                </p>
                <a href="#" class="hbtn plain blue careted">Read More<span class="hcaret blue"></span></a>
              </div><!-- /.col-md-6 info-block -->
              <div class="col-md-6 col-sm-12 info-block">
                <h3 class="header">
                  Sub Header
                </h3>
                <p>
                  Codified and self service workflow for collaboration
                  on applications that is fully automated from development to production, all with visibility and controls. Codified and self service workflow .
                </p>
                <a href="#" class="hbtn plain blue careted">Read More<span class="hcaret blue"></span></a>
              </div><!-- /.col-md-6 info-block -->
            </div><!-- /.row  .info-split-->
            <div class="row info-full">
              <div class="col-sm-12">
                <h3 class="header">Additional Links</h3>
                <ul>
                  <li><a href="#">Morbi euismotique mauris hendrerit.</a></li>
                  <li><a href="#">Morbi euismotique mauris hendrerit.</a></li>
                  <li><a href="#">Morbi euismotique mauris hendrerit.</a></li>
                </ul>
              </div><!-- /.col-md-10 -->
            </div> <!-- /.row .info-full -->
          </div><!-- /.col-md-10 -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </section> <!-- /#section-os -->

    <section id="atlas-customers" class="section">
      <div class="container">
        <div class="row">
          <h1>Customers</h1>
          <div class="col-xs-12">
            <ul class="customer-wrap">
              <li class="customer-item dark-customer"></li>
              <li class="customer-item dark-customer"></li>
              <li class="customer-item dark-customer"></li>
              <li class="customer-item dark-customer"></li>
              <li class="customer-item dark-customer"></li>
              <li class="customer-item dark-customer"></li>
              <li class="customer-item dark-customer"></li>
              <li class="customer-item dark-customer"></li>
            </ul>
          </div>
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </section> <!-- /#section-os -->

    <section id="atlas-pricing">
      <%= partial "layouts/atlas-pricing" %>
    </section>

    <section id="atlas-contact">
      <%= partial "layouts/contact-form" %>
    </section>

    <section id="atlas-cta" class="section">
      <div id="cta-bnr" class="bnr gray-bnr">
        <div class="container">
          <div class="row">
            <div class="col">
              <h4>Alternatively, follow tutorials to learn some basics of what Atlas can do.</h4>
              <div class="bnr-btn">
                <a class="hbtn blue lrg careted" href="/tutorial">Tutorials<span class="hcaret white"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> <!-- /#home-cta -->

  </div> <!-- /.black-wrap -->

</div>
