---
title: Community Guidelines
page_title: Community Guidelines
---

<section class="page inner-page">
  <div class="inner-page-header" id="subheader">
    <div class="container">
      <div class="row">
        <h1 class="headline">Community Guidelines</h1>
      </div>
    </div>
  </div>

  <article id="chat">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Overview</h2>
          <p>
            The HashiCorp community is a mixture of professionals, volunteers, students, and employees who collaborate to make HashiCorp tools better. Different community members may fulfill different roles, including mentoring, teaching, or connecting. With such a large community, our size and diversity can cause increased communication challenges at times.
          </p>
          <p>
            Please be careful in the words and phrases that you choose when communicating with others. Be kind to others. Do not insult or put down others. Remember that sexist, racist, and other exclusionary jokes can be offensive to those around you. If you think your conversation is making another community member uncomfortable, try to make amends and move forward. Avoid using colloquialisms or words and phrases that may have subjective connotations, especially for non-native speakers.
          </p>
          <p>
            The HashiCorp community convenes in many virtual spaces. Events that take place in public spaces, such as conferences and meet-up groups, will generally have their own code of conduct. In those cases, the guidelines for a specific event should be followed.
          </p>
          <p>
            As you are working with other members of the community, please keep in mind the following guidelines, which apply equally to founders, employees, mentors, contributors, or anyone who is seeking help and guidance.
          </p>
          <p>
            The following list is not exhaustive:
            <ul>
              <li><strong>Be welcoming, inclusive, friendly, and patient at all times.</strong></li>
              <li><strong>Be considerate.</strong></li>
              <li><strong>Be respectful.</strong></li>
              <li><strong>Be professional.</strong></li>
            </ul>
          </p>
          <p>
            Always keep in mind that:
            <ul>
              <li>Disagreements happen, but should not be an excuse for poor behavior and bad manners. When disagreements do happen, we will work together to solve them effectively in a way that ensures everyone's success. If you find yourself feeling frustrated, take a step back from the keyboard.</li>
              <li>Not everyone will understand jokes, sarcasm, oblique references, colloquialisms, or euphemisms in the same what you do. Always try to empathize with the the other parties and recognize they may come from a different background and interpret words differently than you.</li>
              <li>Sexist, racist, or other prejudicial or exclusionary comments are never welcome in the HashiCorp community.</li>
            </ul>
          </p>

          <h3>Unacceptable Behavior</h3>
          <p>
            Harassment comes in many forms, including but not limited to: offensive verbal or written comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, and sexual images. Harassment also includes: stalking, persistent following, intrusive or otherwise unwanted photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.
          </p>
          <p>
            Harassment and other exclusionary behavior are not acceptable. This includes, but is not limited to:
            <ul>
              <li>Violent threats or language directed against another person.</li>
              <li>Sexist, racist, or otherwise discriminatory jokes and language.</li>
              <li>Posting sexually explicit or violent material.</li>
              <li>Posting (or threatening to post) other people's personally identifying information ("doxing").</li>
              <li>Personal insults, especially those using racist or sexist terms.</li>
              <li>Unwelcome sexual attention.</li>
              <li>Advocating for, or encouraging, any of the above behavior.</li>
              <li>Repeated harassment of others. In general, if someone asks you to stop, then stop.</li>
              <li>Any physical violence or intimidation, threatened or acted on, is a serious offense.</li>
            </ul>
          </p>

          <h3>Incident Handling</h3>
          <p>
            Disagreements happen all the time. When they occur, we seek to resolve disagreements and differing views constructively and with the help of the community and community processes. When disagreements escalate, we ask our community advocates to step in to moderate, mediate, and help resolve tense situations.
          </p>
          <p>
            The HashiCorp support team are well-informed and trained on how to deal with incidents. Report the incident to <a href="mailto:support@hashicorp.com">support@hashicorp.com</a> and try to include the following:
            <ul>
              <li>Identifying information (name, email address, IRC nick, etc.) of the person doing the harassing.</li>
              <li>The behavior that was in violation.</li>
              <li>The approximate time of the behavior.</li>
              <li>The circumstances surrounding the incident.</li>
              <li>Other people involved in the incident.</li>
            </ul>
          </p>
          <p>
            <strong>If you feel your safety is in jeopardy please do not hesitate to contact local law enforcement.</strong>
          </p>
          <p>
            If you are experiencing a incident that involves a HashiCorp employee, you can email <a href="mailto:legal@hashicorp.com">legal@hashicorp.com</a> and it will be handled appropriately.
          </p>

          <h3>Punitive Actions</h3>
          <p>
            Crafting a list of quid-pro-quo punitive actions would be inadequate and incomplete. We will do our best to enumerate the common punitive actions here, but each incident will be dealt with on a case-by-case basis. As patterns emerge this section may be updated to include some suggested punitive actions.
          </p>
          <p>
            Our first response is always to ensure the immediate safety and well being of all parties involved. In the ideal case, an attempt to stop and prevent the violation behavior would be made before any punitive action is decided.
          </p>
          <p>
            When punitive action is warranted, some examples may include:
            <ul>
              <li>
                <strong>Mailing List</strong>
                <ul>
                  <li>1st offense &mdash; warning and 24 hour ban from all mailing lists.</li>
                  <li>2nd offense &mdash; 30 day ban from all mailing lists.</li>
                  <li>3rd offense &mdash; permanent ban from all mailing lists.</li>
                </ul>
              </li>
              <li>
                <strong>GitHub Issues/Pull Requests</strong>
                <ul>
                  <li>1st offense &mdash; warning.</li>
                  <li>2nd offense &mdash; permanent ban from the project in question.</li>
                  <li>nth offense (on a different project) &mdash; banned from all community projects.</li>
                </ul>
              </li>
            </ul>
          </p>
          <p>
            <strong>In all cases, the abusive user will be informed of the punitive action.</strong>
          </p>

          <h3>Appeals</h3>
          <p>
            A user subjected to punitive action may appeal the action by emailing <a href="mailto:support@hashicorp.com">support@hashicorp.com</a> with the contents of their appeal. An appeal will be acknowledged within 48 hours and processed within seven days.
          </p>

          <h3>Influences &amp; Copyright</h3>
          <p>
            This Code of Conduct was forked from the example policy from the <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">Geek Feminism wiki, created by the Ada Initiative and other volunteers</a>, which is under a Creative Commons Zero (CC0) license. This document was also inspired by the <a href="https://docs.chef.io/community_guidelines.html">Chef community guidelines</a>.
          </p>
          <p>
            This Code of Conduct is in the public domain. In jurisdictions that do not allow for this, this work is available under CC0. To the extent possible under law, the person who associated CC0 with this work has waived all copyright and related or neighboring rights to this work.
          </p>
        </div>
      </div>
    </div>
  </article>
</section>
