<div id="home-hero-mask" class="hero-mask">
  <div id="home-hero" class="hero">
    <div id="home-hero-content" class="hero-content">
      <div class="container">
        <div class="row">
          <div id="hero-headline">
            <h1 class="brand-hashi">
              HashiCorp
            </h1>
            <h1 class="tag">
              Application delivery done right.
            </h1>
            <h2 class="sub-white">
              Develop and deploy applications across large teams and global infrastructure.
              HashiCorp solves development, operations, and security challenges at scale
              so organizations can focus on business-critical tasks.
            </h2>
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- hero-content -->
  </div> <!-- hero -->
</div> <!-- hero-mask -->
<div class="subhero-site-wrap">
  <section id="home-why" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 why-section-header">
          <h2>
            Why Use the <span class="brand-hashi">HashiCorp</span> Workflow for Application Delivery?
          </h2>
          <p>
            Securely maintaining global infrastructure while
            enabling rapid application delivery is a challenge. HashiCorp tools
            provide a flexible workflow so organizations can manage physical, virtual, and
            containerized workloads with a fast, cost-saving, and secure process.
           </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="why-feature fast">
            <span class="graphic"></span>
            <h2>Fast</h2>
            <p>
              Rapidly deliver applications with an automated, audited,
              and policy-driven application delivery workflow.
            </p>
          </div>
          <div class="why-feature efficient">
            <span class="graphic"></span>
            <h2>Efficient</h2>
            <p>
              Reduce infrastructure costs by placing more applications per host and
              maximizing resource utilization.
            </p>
          </div>
          <div class="why-feature flexible">
            <span class="graphic"></span>
            <h2>Flexible</h2>
            <p>
              Manage physical, virtual, and containerized workloads across multiple
              public and private infrastructure providers.
            </p>
          </div>
          <div class="why-feature secure">
            <span class="graphic"></span>
            <h2>Secure</h2>
            <p>
              Protect against internal and external threats with a completely audited
              workflow. All application, machine, and access changes are recorded.
            </p>
          </div>
        </div>
      </div>
    </div><!-- /.container-->
  </section><!-- /#home-why -->

  <section id="home-atlas" class="section atlas-highlights">
    <div id="atlas-bg" class="skew-bg"></div>
    <div id="atlas-bg-2" class="skew-bg"></div>
    <div id="atlas-header-cta">
      <h4>For Enterprises</h4>
      <h1><span class="brand-hashi">HashiCorp</span></br><span class="brand-atlas">Atlas</span></h1>
    </div>
    <div class="container">
      <%= partial "layouts/atlas-highlights" %>
      <div class="row atlas-section-footer section-footer">
        <a class="hbtn lrg careted" href="/atlas.html">Learn More<span class="hcaret"></span></a>
      </div>
    </div> <!-- /.container -->
  </section><!-- /#home-atlas -->

  <section id="products-wrap" class="section">
    <div id="product-bg" class="skew-bg"></div>
    <div id="products">
      <div id="products-display" class="atlas">
        <div class="container">
          <div class="row">
            <h1><span class="brand-hashi">HashiCorp</span> Products</h1>
            <div id="products-nav-wrap" class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-3 col-sm-3 col-xs-12">
              <ul id="products-nav" class="clearfix no-ul">
                <li class="vagrant" data-prod="vagrant">
                  <a href="#vagrant">
                    <i></i>
                    <h4>Vagrant</h4>
                  </a>
                </li>
                <li class="packer" data-prod="packer">
                  <a href="#packer">
                    <i></i>
                    <h4>Packer</h4>
                  </a>
                </li>
                <li class="serf" data-prod="serf">
                  <a href="#serf">
                    <i></i>
                    <h4>Serf</h4>
                  </a>
                </li>
                <li class="consul" data-prod="consul">
                  <a href="#consul">
                    <i></i>
                    <h4>Consul</h4>
                  </a>
                </li>
                <li class="terraform" data-prod="terraform">
                  <a href="#terraform">
                    <i></i>
                    <h4>Terraform</h4>
                  </a>
                </li>
                <li class="vault" data-prod="vault">
                  <a href="#vault">
                    <i></i>
                    <h4>Vault</h4>
                  </a>
                </li>
                <li class="nomad" data-prod="nomad">
                  <a href="#nomad">
                    <i></i>
                    <h4>Nomad</h4>
                  </a>
                </li>
                <li class="otto" data-prod="otto">
                  <a href="#otto">
                    <i></i>
                    <h4>Otto</h4>
                  </a>
                </li>
              </ul>
            </div> <!-- products-nav-wrap -->
            <div class="slider col-lg-8 col-md-6 col-sm-9 col-xs-12">
              <div class="vagrant row">
                <div class="descs col-xs-12">
                  <img src="/images/v2/logos/vagrant-logo.png" alt="Vagrant" height="100px"/>
                  <p>Development environments made easy. Vagrant creates and configures lightweight, reproducible, and portable development environments with support for Virtualbox, VMware, Hyper-V, Docker, and more. Eliminate long onboarding times and "works on my machine" excuses.
                  </p>
                  <div class="descs-btns vagrant">
                    <a href="https://www.vagrantup.com" class="hbtn plain careted explore">Explore Vagrant<span class="hcaret small vagrant"></span></a>
                    <a href="https://docs.vagrantup.com/v2/" class="hbtn plain careted doc">Documentation<span class="hcaret black small"></span></a>
                  </div>
                </div>
              </div>
              <div class="packer row">
                <div class="descs col-xs-12">
                  <img src="/images/v2/logos/packer-logo.png" alt="Packer" height="110px"/>
                  <p>
                    Packer is a tool for creating images for platforms such as Amazon AWS, OpenStack, VMware, VirtualBox, Docker,
                    and more &mdash; all from a single source configuration.
                  </p>
                  <p>
                    Common use cases for Packer include creating appliances,
                    pre-baking deployment images, packaging applications, and testing
                    configuration management scripts.
                  </p>
                  <div class="descs-btns packer">
                    <a href="https://www.packer.io" class="hbtn plain careted explore">Explore Packer<span class="hcaret small packer"></span></a>
                    <a href="https://www.packer.io/docs/index.html" class="hbtn plain careted doc">Documentation<span class="hcaret black small"></span></a>
                  </div>
                </div>
              </div>
              <div class="serf row">
                <div class="descs col-xs-12">
                  <img src="/images/v2/logos/serf-logo.png" alt="Serf" height="110px"/>
                  <p>Serf is a lightweight and decentralized solution for cluster membership, failure detection, and orchestration. Serf is used as a building block for highly available systems, such as Consul.</p>
                  <div class="descs-btns serf">
                    <a href="https://www.serfdom.io" class="hbtn plain careted explore">Explore Serf<span class="hcaret small serf"></span></a>
                    <a href="https://www.serfdom.io/docs/index.html" class="hbtn plain careted doc">Documentation<span class="hcaret black small"></span></a>
                  </div>
                </div>
              </div>
              <div class="consul row">
                <div class="descs col-xs-12">
                  <img src="/images/v2/logos/consul-logo.png" alt="Consul" height="110px"/>
                  <p>
                    Consul is a distributed, highly-available, and multi-datacenter aware tool for service
                    discovery, configuration, and orchestration. Consul enables rapid deployment, configuration, and
                    maintenance of service-oriented architectures at massive scale.
                  </p>
                  <div class="descs-btns consul">
                    <a href="https://consul.io" class="hbtn plain careted explore">Explore Consul<span class="hcaret small consul"></span></a>
                    <a href="https://www.consul.io/docs/index.html" class="hbtn plain careted doc">Documentation<span class="hcaret black small"></span></a>
                  </div>
                </div>
              </div>
              <div class="terraform row">
                <div class="descs col-xs-12">
                  <img src="/images/v2/logos/terraform-logo.png" alt="Terraform" height="110px"/>
                  <p>Terraform is a tool for creating, combining, and managing infrastructure resources across multiple providers. Manage resources on cloud providers such as Amazon Web Services, Google Cloud, Microsoft Azure, DNS records on DNSSimple, Dyn, and CloudFlare, email services on Mailgun, and more.</p>
                  <div class="descs-btns terraform">
                    <a href="https://terraform.io" class="hbtn plain careted explore">Explore Terraform<span class="hcaret small terraform"></span></a>
                    <a href="https://www.terraform.io/docs/index.html" class="hbtn plain careted doc">Documentation<span class="hcaret black small"></span></a>
                  </div>
                </div>
              </div>
              <div class="vault row">
                <div class="descs col-xs-12">
                  <img src="/images/v2/logos/vault-logo.png" alt="Vault" height="110px"/>
                  <p>Vault secures, stores, and controls access to tokens, passwords, certificates, API keys, and other sensitive resources in modern datacenters.
                    For each resource, Vault handles leasing, revocation, rolling, and auditing.</p>
                  <div class="descs-btns vault">
                    <a href="https://vaultproject.io" class="hbtn plain careted explore">Explore Vault<span class="hcaret small vault"></span></a>
                    <a href="https://vaultproject.io/docs/index.html" class="hbtn plain careted doc">Documentation<span class="hcaret black small"></span></a>
                  </div>
                </div>
              </div>
              <div class="nomad row">
                <div class="descs col-xs-12">
                  <img src="/images/v2/logos/nomad-logo.png" alt="Nomad" height="100px"/>
                  <p>Nomad is a cluster manager and scheduler that provides a common workflow to deploy applications across an infrastructure. Deploy virtualized, containerized, or standalone application workloads across a fleet of servers to maximize resource utilization.</p>
                  <div class="descs-btns nomad">
                    <a href="https://nomadproject.io" class="hbtn plain careted explore">Explore Nomad<span class="hcaret small nomad"></span></a>
                    <a href="https://nomadproject.io/docs/index.html" class="hbtn plain careted doc">Documentation<span class="hcaret black small"></span></a>
                  </div>
                </div>
              </div>
              <div class="otto row">
                <div class="descs col-xs-12">
                  <img src="/images/v2/logos/otto-logo.png" alt="Otto" height="110px"/>
                  <p>Otto is a tool to develop and deploy any application on any cloud platform, all controlled with a single consistent workflow to maximize the productivity of you and your team.</p>
                  <div class="descs-btns otto">
                    <a href="https://ottoproject.io" class="hbtn plain careted explore">Explore Otto<span class="hcaret small otto"></span></a>
                    <a href="https://ottoproject.io/docs/index.html" class="hbtn plain careted doc">Documentation<span class="hcaret black small"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> <!--  /#home-product -->

  <section id="home-customers">
    <div class="container">
      <div class="row">
        <div class="customers-section-header">
          <h5>Just a Few Companies Who</h5>
          <h1>Trust HashiCorp</h1>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <ul class="customer-wrap no-ul">
            <li class="customer-item"></li>
            <li class="customer-item"></li>
            <li class="customer-item"></li>
            <li class="customer-item"></li>
            <li class="customer-item"></li>
            <li class="customer-item"></li>
            <li class="customer-item"></li>
            <li class="customer-item"></li>
          </ul>
        </div>
      </div>
    </div>
  </section> <!--  /#home-customers -->

  <section id="home-cta" class="pad-lrg-b">
    <div class="container">
      <div class="row">
        <div id="cta-bnr" class="bnr gray-bnr">
    			<div class="col">
    				<h4>Read about HashiCorp’s guiding principles in the Tao of Hashicorp</h4>
            <div class="bnr-btn">
    				  <a class="hbtn orange lrg careted" href="/tao.html">Read Now<span class="hcaret"></span></a>
            </div>
    			</div>
    		</div>
    	</div>
    </div>
  </section> <!-- /#home-cta -->
</div>
