<div id="home-hero-mask" class="hero-mask">
  <div id="home-hero" class="hero">
    <div id="home-hero-content" class="hero-content">
      <div class="container">
        <div class="row">
          <div id="hero-headline">
            <h1>Application delivery done right.</h1>
            <h2>HashiCorp delivers pragmatic solutions to maximize developer and operator agility.
              Build microservice-driven applications that are codified, automated, scalable and secure.
            </h2>
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- hero-content -->
  </div> <!-- hero -->
</div> <!-- hero-mask -->
<div class="subhero-site-wrap">
  <section id="home-why" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 why-section-header">
          <h2>Why Use the HashiCorp Worflow for Application Delivery?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique mauris hendrerit non. Proin bibendum nec magna ut lacinia. Cras vel consectetur nibh. Vivamus commodo, tortor at suscipit non pretium justo. Nam eu rutrum turpis. Duis scelerisque gravida rutrum.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="why-feature">
            <h2>Fast</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique mauris hendrerit non. Proin bibendum nec magna ut lacinia. Cras vel consectetur nibh. Vivamus commodo, tortor at suscipit non pretium justo. Nam eu rutrum turpis. Duis scelerisque gravida rutrum.</p>
          </div>
          <div class="why-feature">
            <h2>Efficient</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique mauris hendrerit non.</p>
          </div>
          <div class="why-feature">
            <h2>Secure</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique mauris hendrerit non. Lorem ipsum dolor sit amet, consectetur ortis tristique mauris hendrerit.</p>
          </div>
        </div>
      </div>
    </div><!-- /.container-->
  </section><!-- /#home-why -->

  <section id="home-atlas" class="section atlas-highlights">
    <div id="atlas-bg" class="skew-bg"></div>
    <div id="atlas-bg-2" class="skew-bg"></div>
    <div id="atlas-header-cta">
      <h4>For Enterprise</h4>
      <h2>Hashicorp</br><span class="atlas-klav">Atlas</span></h2>
    </div>
    <div class="container">
      <%= partial "layouts/atlas-highlights" %>
      <div class="row atlas-section-footer section-footer">
        <a href="#">learn more</a>
      </div>
    </div> <!-- /.container -->
  </section><!-- /#home-atlas -->

  <section id="home-product" class="section">
    <div id="product-bg" class="skew-bg"></div>
    <div id="products-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <h2>HashiCorp Products</h2>
          </div>
          <div class="col-lg-12 col-md-12">
            <ul id="products-nav" class="clearfix">
              <li class="atlas" data-prod="atlas">
                <a href="#atlas">
                  <i></i>
                  <span>Atlas</span>
                </a>
              </li>
              <li class="vagrant" data-prod="vagrant">
                <a href="#vagrant">
                  <i></i>
                  <span>Vagrant</span>
                </a>
              </li>
              <li class="packer" data-prod="packer">
                <a href="#packer">
                  <i></i>
                  <span>Packer</span>
                </a>
              </li>
              <li class="serf" data-prod="serf">
                <a href="#serf">
                  <i></i>
                  <span>Serf</span>
                </a>
              </li>
              <li class="consul" data-prod="consul">
                <a href="#consul">
                  <i></i>
                  <span>Consul</span>
                </a>
              </li>
              <li class="terraform" data-prod="terraform">
                <a href="#terraform">
                  <i></i>
                  <span>Terraform</span>
                </a>
              </li>
              <li class="vault" data-prod="vault">
                <a href="#vault">
                  <i></i>
                  <span>Vault</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="products-display" class="slider atlas">
      <div class="vagrant container">
        <div class="row">
          <div class="descs col-sm-6 col-sm-12">
            <h3>Vagrant</h3>
            <p>Development environments made easy. Vagrant is the defacto way to create and configure lightweight, reproducible, and portable development environments with support for Virtualbox, VMware, Hyper-V, Docker, and more. Say goodbye to long onboarding times and "works on my machine" excuses.
            </p>
            <a href="http://vagrantup.com" class="hbtn fill-btn white small">Explore Vagrant<span class="black-caret-right small"></span></a>
            <a href="http://docs.vagrantup.com/v2/" class="hbtn outline-btn small">Documentation<span class="light-caret-right small"></span></a>
          </div>
        </div>
      </div>
      <div class="packer container">
        <div class="row">
          <div class="descs col-sm-6 col-sm-12">
            <h3>Packer</h3>
            <p>
              Packer is a tool for creating images for platforms such as Amazon AWS, OpenStack, VMware, VirtualBox, Docker,
              and more &mdash; all from a single source configuration.
            </p>
            <p>
              Common use cases for Packer include creating appliances,
              pre-baking deployment images, packaging applications, testing
              configuration management, and more.
            </p>
            <a href="http://packer.io" class="hbtn fill-btn white small">Explore Packer<span class="black-caret-right small"></span></a>
            <a href="http://www.packer.io/docs/index.html" class="hbtn outline-btn small">Documentation<span class="light-caret-right small"></span></a>
          </div>
        </div>
      </div>
      <div class="serf container">
        <div class="row">
          <div class="descs col-sm-6 col-sm-12">
            <h3>Serf</h3>
            <p>Serf is a lightweight and decentralized solution for cluster membership, failure detection, and orchestration. Serf is used as a building block for highly available systems, such as Consul.</p>
            <a href="http://serfdom.io" class="hbtn fill-btn white small">Explore Serf<span class="black-caret-right small"></span></a>
            <a href="http://www.serfdom.io/docs/index.html" class="hbtn outline-btn small">Documentation<span class="light-caret-right small"></span></a>
          </div>
        </div>
      </div>
      <div class="consul container">
        <div class="row">
          <div class="descs col-sm-6 col-sm-12">
            <h3>Consul</h3>
            <p>
              Consul is a distributed, highly-available, and multi-datacenter aware tool for service
              discovery, configuration, and orchestration. In the ever-growing
              datacenter, Consul enables rapid deployment, configuration, and
              maintenance of service-oriented architectures.
            </p>
            <a href="http://consul.io" class="hbtn fill-btn white small">Explore Consul<span class="black-caret-right small"></span></a>
            <a href="http://www.consul.io/docs/index.html" class="hbtn outline-btn small">Documentation<span class="light-caret-right small"></span></a>
          </div>
        </div>
      </div>
      <div class="terraform container">
        <div class="row">
          <div class="descs col-sm-6 col-sm-12">
            <h3>Terraform</h3>
            <p>Terraform allows you to effortlessly combine high-level system providers with your own or with each other – from physical and virtual servers to email
              and DNS providers. Once launched, Terraform safely and efficiently changes infrastructure as the configuration is evolved.</p>
            <a href="http://terraform.io" class="hbtn fill-btn white small">Explore Terraform<span class="black-caret-right small"></span></a>
            <a href="http://www.terraform.io/docs/index.html" class="hbtn outline-btn small">Documentation<span class="light-caret-right small"></span></a>
          </div>
        </div>
      </div>
      <div class="vault container">
        <div class="row">
          <div class="descs col-sm-6 col-sm-12">
            <h3>Vault</h3>
            <p>Vault secures, stores, and tightly controls access to tokens, passwords, certificates, API keys, and other secrets in modern computing.
              Vault handles leasing, key revocation, key rolling, and auditing.</p>
            <a href="https://vaultproject.io" class="hbtn fill-btn white small">Explore Vault<span class="black-caret-right small"></span></a>
            <a href="https://vaultproject.io/docs/index.html" class="hbtn outline-btn small">Documentation<span class="light-caret-right small"></span></a>
          </div>
        </div>
      </div>
    </div>
  </section> <!--  /#home-product -->

  <section id="home-customers" class="section">
    <div class="container">
      <div class="row">
        <div class="customers-section-header">
          <p>just a few customers who</p>
          <h2>Trust HashiCorp</h2>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <div class="customer-wrap">
            <div class="customer-item"></div>
            <div class="customer-item"></div>
            <div class="customer-item"></div>
            <div class="customer-item"></div>
            <div class="customer-item"></div>
            <div class="customer-item"></div>
            <div class="customer-item"></div>
            <div class="customer-item"></div>
          </div>
        </div>
      </div>
    </div>
  </section> <!--  /#home-customers -->

  <section id="home-cta" class="section">
    <div id="cta-bnr" class="bnr gray-bnr">
    	<div class="container">
    		<div class="row">
    			<div class="col col-md-12">
    				<p>Read about HashiCorp’s guiding principles in the Tao of Hashicorp</p>
    				<a class="hbtn orange lrg fill has-caret" href="/tao">Read Now<span class="h-caret"></span></a>
    			</div>
    		</div>
    	</div>
    </div>
  </section> <!-- /#home-cta -->
</div>
