<div id="hero-mask">
  <div id="hero">
    <div id="hero-content" id="jumbotron-content">
      <div class="container">
        <div class="row">
          <div id="hero-headline">
            <h1>Application delivery done right.</h1>
            <h2>HashiCorp delivers pragmatic solutions to maximize developer and operator agility.
              Build microservice-driven applications that are codified, automated, scalable and secure.
            </h2>
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- hero-content -->
  </div> <!-- hero -->
</div> <!-- hero-mask -->

<div id="site-wrap">
  <section id="section-why">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 why-section-header">
          <h2>Why Use the HashiCorp Worflow for Application Delivery?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique mauris hendrerit non. Proin bibendum nec magna ut lacinia. Cras vel consectetur nibh. Vivamus commodo, tortor at suscipit non pretium justo. Nam eu rutrum turpis. Duis scelerisque gravida rutrum.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="why-feature">
            <h2>Fast</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique mauris hendrerit non. Proin bibendum nec magna ut lacinia. Cras vel consectetur nibh. Vivamus commodo, tortor at suscipit non pretium justo. Nam eu rutrum turpis. Duis scelerisque gravida rutrum.</p>
          </div>
          <div class="why-feature">
            <h2>Efficient</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique mauris hendrerit non.</p>
          </div>
          <div class="why-feature">
            <h2>Secure</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique mauris hendrerit non. Lorem ipsum dolor sit amet, consectetur ortis tristique mauris hendrerit.</p>
          </div>
        </div>
      </div>
    </div><!-- /.container-->
  </section><!-- /#section-why -->

  <section id="section-atlas" class="section">
    <div id="atlas-bg" class="skew-bg"></div>
    <div id="atlas-bg-2" class="skew-bg"></div>
    <div id="atlas-header-cta">
      <h4>For Enterprise</h4>
      <h2>Hashicorp</br><span class="atlas-klav">Atlas</span></h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 atlas-section-header">
          <h2>Why Use the HashiCorp <span>Atlas</span> as your Enterprise Delivery Pipeline?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique mauris hendrerit non. Proin bibendum nec magna ut lacinia. Cras vel consectetur nibh. Vivamus commodo, tortor at suscipit non pretium justo. Nam eu rutrum turpis. Duis scelerisque gravida rutrum.</p>
        </div>
      </div>
      <div class="row atlas-features-flex">
        <div class="atlas-feature">
          <h2>Automate</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique tristique mauris hendrerit.</p>
        </div>
        <div class="atlas-feature">
          <h2>Automate</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique tristique mauris hendrerit.</p>
        </div>
        <div class="atlas-feature">
          <h2>Automate</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique tristique mauris hendrerit.</p>
        </div>
        <div class="atlas-feature">
          <h2>Automate</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique tristique mauris hendrerit.</p>
        </div>
      </div>
      <div class="row atlas-section-footer section-footer">
        <a href="#">learn more</a>
      </div>
    </div> <!-- /.container -->
  </section><!-- /#section-atlas -->

  <section id="section-product" class="section">
    <div id="product-bg" class="skew-bg"></div>
    <div id="atlas-header-cta">
      <h2>Products</h2>
    </div>
    <div class="container">
      <div class="row">
        Boom
      </div>
    </div><!--  /.container -->
  </section><!--  /#section-product -->


  <div id="products-header">
    <div id="bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <h2 id="products">Products</h2>
          </div>
          <div class="col-lg-12 col-md-12">
            <ul id="products-nav" class="clearfix">
              <li class="atlas" data-prod="atlas">
                <a href="#atlas">
                  <i></i>
                  <span>Atlas</span>
                </a>
              </li>
              <li class="vagrant" data-prod="vagrant">
                <a href="#vagrant">
                  <i></i>
                  <span>Vagrant</span>
                </a>
              </li>
              <li class="packer" data-prod="packer">
                <a href="#packer">
                  <i></i>
                  <span>Packer</span>
                </a>
              </li>
              <li class="serf" data-prod="serf">
                <a href="#serf">
                  <i></i>
                  <span>Serf</span>
                </a>
              </li>
              <li class="consul" data-prod="consul">
                <a href="#consul">
                  <i></i>
                  <span>Consul</span>
                </a>
              </li>
              <li class="terraform" data-prod="terraform">
                <a href="#terraform">
                  <i></i>
                  <span>Terraform</span>
                </a>
              </li>
              <li class="vault" data-prod="vault">
                <a href="#vault">
                  <i></i>
                  <span>Vault</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div> <!-- /#site-wrap -->
