<div id="home-hero-mask" class="hero-mask">
  <div id="home-hero" class="hero">
    <div id="home-hero-content" class="hero-content">
      <div class="container">
        <div class="row">
          <div id="hero-headline">
            <h1 class="tag"><span class="brand">HashiCorp</span> Application delivery done right.</h1>
            <h2>HashiCorp delivers pragmatic solutions to maximize developer and operator agility.
              Build microservice-driven applications that are codified, automated, scalable and secure.
            </h2>
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- hero-content -->
  </div> <!-- hero -->
</div> <!-- hero-mask -->
<div class="subhero-site-wrap">
  <section id="home-why" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 why-section-header">
          <h2>Why Use the HashiCorp Worflow for Application Delivery?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique mauris hendrerit non. Proin bibendum nec magna ut lacinia. Cras vel consectetur nibh. Vivamus commodo, tortor at suscipit non pretium justo. Nam eu rutrum turpis. Duis scelerisque gravida rutrum.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="why-feature fast">
            <h2>Fast</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique mauris hendrerit non. Proin bibendum nec magna ut lacinia. Cras vel consectetur nibh. Vivamus commodo, tortor at suscipit non pretium justo. Nam eu rutrum turpis. Duis scelerisque gravida rutrum.</p>
          </div>
          <div class="why-feature efficient">
            <h2>Efficient</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique mauris hendrerit non.</p>
          </div>
          <div class="why-feature secure">
            <h2>Secure</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique mauris hendrerit non. Lorem ipsum dolor sit amet, consectetur ortis tristique mauris hendrerit.</p>
          </div>
        </div>
      </div>
    </div><!-- /.container-->
  </section><!-- /#home-why -->

  <section id="home-atlas" class="section atlas-highlights">
    <div id="atlas-bg" class="skew-bg"></div>
    <div id="atlas-bg-2" class="skew-bg"></div>
    <div id="atlas-header-cta">
      <h4>For Enterprise</h4>
      <h2>Hashicorp</br><span class="atlas-klav">Atlas</span></h2>
    </div>
    <div class="container">
      <%= partial "layouts/atlas-highlights" %>
      <div class="row atlas-section-footer section-footer">
        <a class="hbtn lrg" href="#">learn more</a>
      </div>
    </div> <!-- /.container -->
  </section><!-- /#home-atlas -->

  <section id="products" class="section">
    <div id="product-bg" class="skew-bg"></div>
    <div id="products-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <h1>HashiCorp Products</h1>
          </div>
          <div class="col-lg-12 col-md-12">
            <ul id="products-nav" class="clearfix">
              <li class="vagrant" data-prod="vagrant">
                <a href="#vagrant">
                  <i></i>
                  <span>Vagrant</span>
                </a>
              </li>
              <li class="packer" data-prod="packer">
                <a href="#packer">
                  <i></i>
                  <span>Packer</span>
                </a>
              </li>
              <li class="serf" data-prod="serf">
                <a href="#serf">
                  <i></i>
                  <span>Serf</span>
                </a>
              </li>
              <li class="consul" data-prod="consul">
                <a href="#consul">
                  <i></i>
                  <span>Consul</span>
                </a>
              </li>
              <li class="terraform" data-prod="terraform">
                <a href="#terraform">
                  <i></i>
                  <span>Terraform</span>
                </a>
              </li>
              <li class="vault" data-prod="vault">
                <a href="#vault">
                  <i></i>
                  <span>Vault</span>
                </a>
              </li>
              <li class="nomad" data-prod="nomad">
                <a href="#nomad">
                  <i></i>
                  <span>Nomad</span>
                </a>
              </li>
              <li class="otto" data-prod="otto">
                <a href="#otto">
                  <i></i>
                  <span>Otto</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="products-display" class="slider atlas">
      <div class="vagrant container">
        <div class="row">
          <div class="descs col-md-offset-4 col-md-6 col-sm-offset-3 col-sm-9 col-xs-12">
            <img src="/images/v2/logos/vagrant-logo.png" alt="Vagrant" height="100px"/>
            <p>Development environments made easy. Vagrant is the defacto way to create and configure lightweight, reproducible, and portable development environments with support for Virtualbox, VMware, Hyper-V, Docker, and more. Say goodbye to long onboarding times and "works on my machine" excuses.
            </p>
            <div class="descs-btns vagrant">
              <a href="http://vagrantup.com" class="hbtn plain careted explore">Explore Vagrant<span class="hcaret small vagrant"></span></a>
              <a href="http://docs.vagrantup.com/v2/" class="hbtn plain careted doc">Documentation<span class="hcaret black small"></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="packer container">
        <div class="row">
          <div class="descs col-md-offset-4 col-md-6 col-sm-offset-3 col-sm-9 col-xs-12">
            <img src="/images/v2/logos/packer-logo.png" alt="Packer" height="110px"/>
            <p>
              Packer is a tool for creating images for platforms such as Amazon AWS, OpenStack, VMware, VirtualBox, Docker,
              and more &mdash; all from a single source configuration.
            </p>
            <p>
              Common use cases for Packer include creating appliances,
              pre-baking deployment images, packaging applications, testing
              configuration management, and more.
            </p>
            <div class="descs-btns packer">
              <a href="http://packer.io" class="hbtn plain careted explore">Explore Packer<span class="hcaret small packer"></span></a>
              <a href="http://www.packer.io/docs/index.html" class="hbtn plain careted">Documentation<span class="hcaret black small"></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="serf container">
        <div class="row">
          <div class="descs col-md-offset-4 col-md-6 col-sm-offset-3 col-sm-9 col-xs-12">
            <img src="/images/v2/logos/serf-logo.png" alt="Serf" height="110px"/>
            <p>Serf is a lightweight and decentralized solution for cluster membership, failure detection, and orchestration. Serf is used as a building block for highly available systems, such as Consul.</p>
            <div class="descs-btns serf">
              <a href="http://serfdom.io" class="hbtn plain careted explore">Explore Serf<span class="hcaret small serf"></span></a>
              <a href="http://www.serfdom.io/docs/index.html" class="hbtn plain careted doc">Documentation<span class="hcaret black small"></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="consul container">
        <div class="row">
          <div class="descs col-md-offset-4 col-md-6 col-sm-offset-3 col-sm-9 col-xs-12">
            <img src="/images/v2/logos/consul-logo.png" alt="Consul" height="110px"/>
            <p>
              Consul is a distributed, highly-available, and multi-datacenter aware tool for service
              discovery, configuration, and orchestration. In the ever-growing
              datacenter, Consul enables rapid deployment, configuration, and
              maintenance of service-oriented architectures.
            </p>
            <div class="descs-btns consul">
              <a href="http://consul.io" class="hbtn plain careted explore">Explore Consul<span class="hcaret small consul"></span></a>
              <a href="http://www.consul.io/docs/index.html" class="hbtn plain careted doc">Documentation<span class="hcaret black small"></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="terraform container">
        <div class="row">
          <div class="descs col-md-offset-4 col-md-6 col-sm-offset-3 col-sm-9 col-xs-12">
            <img src="/images/v2/logos/terraform-logo.png" alt="Terraform" height="110px"/>
            <p>Terraform allows you to effortlessly combine high-level system providers with your own or with each other – from physical and virtual servers to email
              and DNS providers. Once launched, Terraform safely and efficiently changes infrastructure as the configuration is evolved.</p>
            <div class="descs-btns terraform">
              <a href="http://terraform.io" class="hbtn plain careted explore">Explore Terraform<span class="hcaret small terraform"></span></a>
              <a href="http://www.terraform.io/docs/index.html" class="hbtn plain careted doc">Documentation<span class="hcaret black small"></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="vault container">
        <div class="row">
          <div class="descs col-md-offset-4 col-md-6 col-sm-offset-3 col-sm-9 col-xs-12">
            <img src="/images/v2/logos/vault-logo.png" alt="Vault" height="110px"/>
            <p>Vault secures, stores, and tightly controls access to tokens, passwords, certificates, API keys, and other secrets in modern computing.
              Vault handles leasing, key revocation, key rolling, and auditing.</p>
            <div class="descs-btns vault">
              <a href="https://vaultproject.io" class="hbtn plain careted explore">Explore Vault<span class="hcaret small vault"></span></a>
              <a href="https://vaultproject.io/docs/index.html" class="hbtn plain careted doc">Documentation<span class="hcaret black small"></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="nomad container">
        <div class="row">
          <div class="descs col-md-offset-4 col-md-6 col-sm-offset-3 col-sm-9 col-xs-12">
            <img src="/images/v2/logos/nomad-logo.png" alt="Nomad" height="100px"/>
            <p>Nomad provides a common workflow to deploy applications across an infrastructure. Developers use a declarative job specification to define how an application should be deployed and the resources it requires (CPU, memory, disk). Nomad accepts these jobs and finds available resources to run them. The scheduling algorithm ensures all constraints are satisfied, and packs as many applications on a host as possible to optimize resource utilization. Additionally, Nomad supports virtualized, containerized, or standalone applications running on all major operating systems giving it the flexibility to support a broad range of workloads.</p>
            <div class="descs-btns nomad">
              <a href="https://nomadproject.io" class="hbtn plain careted explore">Explore Nomad<span class="hcaret small nomad"></span></a>
              <a href="https://nomadproject.io/docs/index.html" class="hbtn plain careted doc">Documentation<span class="hcaret black small"></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="otto container">
        <div class="row">
          <div class="descs col-md-offset-4 col-md-6 col-sm-offset-3 col-sm-9 col-xs-12">
            <img src="/images/v2/logos/otto-logo.png" alt="Otto" height="110px"/>
            <p>Otto knows how to develop and deploy any application on any cloud platform, all controlled with a single consistent workflow to maximize the productivity of you and your team.</p>
            <div class="descs-btns otto">
              <a href="https://ottoproject.io" class="hbtn plain careted explore">Explore Otto<span class="hcaret small otto"></span></a>
              <a href="https://ottoproject.io/docs/index.html" class="hbtn plain careted doc">Documentation<span class="hcaret black small"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> <!--  /#home-product -->

  <section id="home-customers" class="section">
    <div class="container">
      <div class="row">
        <div class="customers-section-header">
          <p>just a few customers who</p>
          <h2>Trust HashiCorp</h2>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <div class="customer-wrap">
            <div class="customer-item"></div>
            <div class="customer-item"></div>
            <div class="customer-item"></div>
            <div class="customer-item"></div>
            <div class="customer-item"></div>
            <div class="customer-item"></div>
            <div class="customer-item"></div>
            <div class="customer-item"></div>
          </div>
        </div>
      </div>
    </div>
  </section> <!--  /#home-customers -->

  <section id="home-cta" class="section">
    <div id="cta-bnr" class="bnr gray-bnr">
    	<div class="container">
    		<div class="row">
    			<div class="col col-md-12">
    				<p>Read about HashiCorp’s guiding principles in the Tao of Hashicorp</p>
    				<a class="hbtn orange lrg fill has-caret" href="/tao.html">Read Now<span class="h-caret"></span></a>
    			</div>
    		</div>
    	</div>
    </div>
  </section> <!-- /#home-cta -->
</div>
