<div id="jumbotron-mask">
	<div id="jumbotron">
		<div class="jumbotron-content" id="jumbotron-content">
			<div class="container">
				<div class="row">
					<div class="jumbo-logo-wrap col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-12 pull-right">
						<div class="jumbo-logo">

							<div class="hexagons">
								<div class="hexagon hex1 hexPulse"></div>
								<div class="hexagon hex2 hexPulse"></div>
								<div class="hexagon hex3 hexPulse"></div>
								<div class="hexagon hex4 hexPulse"></div>
							</div>

							<div class="hero-logo fadein"></div>

							<div class="hero-prod-logos">
								<!--<div class="prod p1 vagrant fadein">
									<div class="name">JIRA</div>
								</div>
								<div class="prod p2 packer fadein">
									<div class="name">Confluence</div>
								</div>
								<div class="prod p3 serf fadein">
									<div class="name">Bitbucket</div>
								</div>
								<div class="prod p4 consul fadein">
									<div class="name">Source Editor</div>
								</div>
								<div class="prod p5 terraform fadein">
									<div class="name">Markdown Macro</div>
								</div>
								<div class="prod p6 vault fadein">
									<div class="name">Vault</div>
								</div>
								<div class="prod p7 atlas fadein">
									<div class="name">Atlas</div>
								</div> -->
							</div>

						</div>
					</div> <!-- col -->
					<div class="col-lg-6 col-md-5 col-sm-12 pull-left">
						<div class="hero-headline">
							<h1>Pushing the boundaries of productivity.</h1>
                <h2>Mohamicorp is an independent studio focused on enhancing Atlassian
									products through plugins. We prioritize quality, robustness, and quick customer support.
							</h2>
						</div>
					</div> <!-- col -->
				</div> <!-- row -->
			</div> <!-- container -->
		</div> <!-- jumbotron-content -->
	</div> <!-- jumbotron -->
</div> <!-- jumbotron-mask -->

<article id="products">

	<div id="products-header">
	<div id="bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<h2 id="products">Products</h2>
				</div>
				<div class="col-lg-12 col-md-12">
					<ul id="products-nav" class="clearfix">
						<!-- <li class="atlas" data-prod="atlas">
							<a href="#atlas">
								<i></i>
								<span>Atlas</span>
							</a>
						</li> -->
						<li class="editor" data-prod="editor">
							<a href="#editor">
								<i></i>
								<span>Editor<br>for Bitbucket</span>
							</a>
						</li>
						<li class="search" data-prod="search">
							<a href="#search">
								<i></i>
								<span>Smarter Search<br>for Bitbucket</span>
							</a>
						</li>
						<li class="navigator" data-prod="navigator">
							<a href="#navigator">
								<i></i>
								<span>Code Navigator<br>for Bitbucket</span>
							</a>
						</li>
						<li class="cruciblehook" data-prod="cruciblehook">
							<a href="#cruciblehook">
								<i></i>
								<span>Crucible Review Hook<br>for Bitbucket</span>
							</a>
						</li>
						<li class="sourceeditor" data-prod="sourceeditor">
							<a href="#sourceeditor">
								<i></i>
								<span>Source Editor<br>for Confluence</span>
							</a>
						</li>
						<li class="markdown" data-prod="markdown">
							<a href="#markdown">
								<i></i>
								<span>Markdown Render Macro<br>for Confluence</span>
							</a>
						</li>
						<!--

						<li class="autowatch" data-prod="autowatch">
							<a href="#autowatch">
								<i></i>
								<span>Autowatch<br>for JIRA</span>
							</a>
						</li>
						-->
					</ul>
				</div>
			</div>
		</div>
	</div>
	</div>

	<div id="products-display" class="slider editor">
			<div class="editor container">
				<div class="row-title">Editor for Bitbucket</div>
				<div class="row">
					<div class="logos col-sm-6 col-sm-12">
							<i class="product-logo"></i>
					</div>
					<div class="descs col-sm-6 col-sm-12">
						<p>Editor for Bitbucket (formerly Editor for Stash) is a live editor with markdown preview, code folding, and syntax highlighting. Supports
							 various git workflows for committing changes. </p>
						<a href="https://marketplace.atlassian.com/plugins/com.mohamicorp.stash.plugin.editor-for-stash/server/overview" class="hbtn fill-btn white small">Explore Editor for Bitbucket<span class="black-caret-right small"></span></a>
						<a href="https://github.com/mohamicorp/editor-for-stash-issues" class="hbtn outline-btn small">Documentation<span class="light-caret-right small"></span></a>
					</div>
				</div>
			</div>
			<div class="search container">
				<div class="row-title">Smarter Search for Bitbucket</div>
				<div class="row">
					<div class="logos col-sm-6 col-sm-12">
							<i class="product-logo"></i>
					</div>
					<div class="descs col-sm-6 col-sm-12">
						<p>Smarter Search for Bitbucket (formerly Search for Stash) is a full-text code, file and commit search service for
							 Atlassian's Bitbucket. It's powered by Elasticsearch, which can be either an internal or external service.
						</p>
						<a href="https://marketplace.atlassian.com/plugins/com.mohamicorp.stash.search-for-stash/server/overview" class="hbtn fill-btn white small">Explore Smarter Search<span class="black-caret-right small"></span></a>
						<a href="https://github.com/mohamicorp/search-for-stash-issues" class="hbtn outline-btn small">Documentation<span class="light-caret-right small"></span></a>
					</div>
				</div>
			</div>
			<div class="navigator container">
				<div class="row-title">Code Navigator for Bitbucket</div>
				<div class="row">
					<div class="logos col-sm-6 col-sm-12">
							<i class="product-logo"></i>
					</div>
					<div class="descs col-sm-6 col-sm-12">
						<p>Jump to definitions right in the browser, just like an IDE! Instantly navigate to class, variable,
 							and function definitions. Supports a wide array of languages, enabled by Ctags.
						</p>
						<a href="https://marketplace.atlassian.com/plugins/com.mohamicorp.stash.plugin.codenav" class="hbtn fill-btn white small">Explore Code Navigator<span class="black-caret-right small"></span></a>
						<a href="https://github.com/mohamicorp/codenav-for-bitbucket-issues" class="hbtn outline-btn small">Documentation<span class="light-caret-right small"></span></a>
					</div>
				</div>
			</div>
			<div class="cruciblehook container">
				<div class="row-title">Crucible Review Hook for Bitbucket</div>
				<div class="row">
					<div class="logos col-sm-6 col-sm-12">
							<i class="product-logo"></i>
					</div>
					<div class="descs col-sm-6 col-sm-12">
						<p>Integrate Crucible code reviews into your pull request workflow with Crucible Review Hook for Bitbucket.
							 Automatically create Crucible reviews and block pull request merges that haven't gone through Crucible review.</p>
						<a href="https://marketplace.atlassian.com/plugins/com.mohamicorp.bitbucket.plugin.crucible-review-hook" class="hbtn fill-btn white small">Explore Crucible Review Hook<span class="black-caret-right small"></span></a>
						<a href="https://github.com/mohamicorp/crucible-review-hook" class="hbtn outline-btn small">Documentation<span class="light-caret-right small"></span></a>
					</div>
				</div>
			</div>
			<div class="sourceeditor container">
				<div class="row-title">Source Editor for Confluence</div>
				<div class="row">
					<div class="logos col-sm-6 col-sm-12">
							<i class="product-logo"></i>
					</div>
					<div class="descs col-sm-6 col-sm-12">
						<p>Edit Confluence Storage Format directly in the browser using Source Editor for Confluence, available for both
							 Confluence Cloud and Server. Supports standard code editor features, XHTML validation, and page preview.</p>
						<a href="https://marketplace.atlassian.com/plugins/com.mohamicorp.html.source.editor.for.confluence" class="hbtn fill-btn white small">Explore Source Editor for Confluence<span class="black-caret-right small"></span></a>
						<a href="https://mohamicorp.atlassian.net/wiki/display/DOC/Source+Editor+for+Confluence" class="hbtn outline-btn small">Documentation<span class="light-caret-right small"></span></a>
					</div>
				</div>
			</div>
			<div class="markdown container">
				<div class="row-title">Markdown Render Macro for Confluence</div>
				<div class="row">
					<div class="logos col-sm-6 col-sm-12">
							<i class="product-logo"></i>
					</div>
					<div class="descs col-sm-6 col-sm-12">
						<p>Markdown Render Macro is a macro which allows you to display markdown in your Confluence pages. Preview your changes before submission with our built-in editor. For Cloud and Server!</p>
						<a href="https://marketplace.atlassian.com/plugins/mohamicorp-render-markdown" class="hbtn fill-btn white small">Explore Markdown Render Macro<span class="black-caret-right small"></span></a>
						<a href="https://mohamicorp.atlassian.net/wiki/display/DOC/Markdown+Render+Macro+for+Confluence" class="hbtn outline-btn small">Documentation<span class="light-caret-right small"></span></a>
					</div>
				</div>
			</div>
			<!--

			<div class="autowatch container">
				<div class="row">
					<div class="logos col-sm-6 col-sm-12">
							<i class="product-logo"></i>
					</div>
					<div class="descs col-sm-6 col-sm-12">
						<p>Tired of constantly searching for issues that you need to watch? Automatically watch created
							 and updated issues based on JQL queries using Autowatch for JIRA. Supports setting autowatch
							 rules on a per-project basis.</p>
						<a href="TODO" class="hbtn fill-btn white small">Explore Autowatch for JIRA<span class="black-caret-right small"></span></a>
						<a href="TODO" class="hbtn outline-btn small">Documentation<span class="light-caret-right small"></span></a>
					</div>
				</div>
			</div>
			-->
	 </div>
</article>

<!-- <article id="news">
	<div class="blog-entry-left blog-entry r50">
			<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-3 col-lg-8 col-md-8 col-sm-6 col-xs-12">
				<i class="hashi-logo"></i>
				<h2>The Tao of HashiCorp</h2>
                <p>The Tao of HashiCorp is the foundation that guides our vision, roadmap, and product design. As you evaluate using or contributing to HashiCorp's products, it may be valuable to understand the motivations and intentions for our work.
                </p>
				<a href="/blog/tao-of-hashicorp.html" class="cont-read">Continue reading<span class="light-caret-right small"></span></span></a>
			</div>
	</div>
	<div class="blog-entry-right blog-entry r50">
			<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-3 col-lg-8 col-md-8 col-sm-6 col-xs-12">
				<div alt="HashiConf 2015" class="hashiconf-logo"></div>
				<p>HashiConf was our first ever conference dedicated to modern datacenter automation, from development to production.</p>
				<a href="https://hashiconf.com" class="hbtn fill-btn blue large">Watch videos<span class="light-caret-right"></span></a>
				<div class="hashiconf-earth"></div>
			</div>
		</div>
</article> -->

<article class="customers">
<div class="container"> <!-- required by bootstrap -->
	<div class="row">
		<div class="customers-content col-xs-12">
			<h1>
				<span>Companies Who</span>
				Trust Mohamicorp
			</h1>
		</div> <!-- customers-content -->
	</div> <!-- row -->
	<div class="row">
		<div class="col-xs-12">
			<ul class="customer-logos unstyled">
				<li class="cust c1"></li>
				<li class="cust c2"></li>
				<li class="cust c3"></li>
				<li class="cust c4"></li>
				<li class="cust c5"></li>
				<li class="cust c6"></li>
				<li class="cust c7"></li>
				<li class="cust c8"></li>
				<li class="cust c9"></li>
				<li class="cust c10"></li>
				<li class="cust c11"></li>
				<li class="cust c12"></li>
			</ul> <!-- customer logos -->
		</div> <!-- row -->
	</div> <!-- container -->
</article>
