---
title: Marketing
page_title: Marketing
---

<div class="page inner-page">
  <!-- page title -->

  <div class="hero-mask template-hero-mask">
    <div class="hero template-hero">
      <div class="hero-content template-hero-content v1">
        <div class="container">
          <div class="row">
            <div class="template-headline">
              <h2 class="tag">Marketing V1</h2>
              <h4>This is our marketing template. Use wisely.</h4>
            </div>
          </div> <!-- row -->
        </div> <!-- container -->
      </div> <!-- hero-content -->
    </div> <!-- hero -->
  </div> <!-- hero-mask -->

  <div class="subhero-site-wrap">

    <section class="template white first" id="template-sub-hero">
      <div class="container">
        <div class="row">
          <div class="col-sm-offset-2 col-sm-8 col-xs-12">
            <h2>Lorem Ipsum</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique mauris hendrerit non. Proin bibendum nec magna ut lacinia. Cras vel consectetur nibh. Vivamus commodo, tortor at suscipit non pretium justo. Nam eu rutrum turpis. Duis scelerisque gravida rutrum.
            </p>
          </div>
        </div><!-- row -->
      </div><!-- container -->
    </section><!-- template-sub-hero -->

    <section class="template white">
      <%= partial "layouts/contact-form" %>
    </section><!-- contact -->

    <section class="template first simple">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8 col-sm-12">
            <h2>Learn More About HashiCorp</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique mauris hendrerit non. Proin bibendum nec magna ut lacinia. Cras vel consectetur nibh. Vivamus commodo, tortor at suscipit non pretium justo. Nam eu rutrum turpis. Duis scelerisque gravida rutrum.
            </p>
          </div>
        </div><!-- row -->
      </div><!-- container -->
    </section><!-- template first -->

    <section class="template info">
      <div class="container">
        <div class="row">
          <div class="col-md-12 bdr">
            <h2>Resources</h2>
            <div class="row info-split">
              <div class="col-md-6 info-block">
                <h3 class="header">Sub Header</h3>
                <p>
                  Codified and self service workflow for collaboration on applications that is fully automated from development to production, all with visibility and controls.
                </p>
                <a href="#" class="footer">Read More</a>
              </div><!-- /.col-md-6 info-block -->
              <div class="col-md-6 info-block">
                <h3 class="header">
                  Sub Header
                </h3>
                <p>
                  Codified and self service workflow for collaboration on applications that is fully automated from development to production, all with visibility and controls. Codified and self service workflow .
                </p>
                <a href="#" class="footer">Read More</a>
              </div><!-- /.col-md-6 info-block -->
            </div><!-- /.row  .info-split-->
            <div class="row info-full">
              <div class="col-md-12">
                <h3 class="header">Sub Header</h3>
                <ul>
                  <li><a href="#">Morbi euismotique mauris hendrerit.</a></li>
                  <li><a href="#">Morbi euismotique mauris hendrerit.</a></li>
                  <li><a href="#">Morbi euismotique mauris hendrerit.</a></li>
                </ul>
              </div><!-- /.col-md-10 -->
            </div> <!-- /.row .info-full -->
          </div><!-- /.col-md-12 -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </section> <!-- template info -->

  </div><!--  subhero-site-wrap -->
</div><!-- page inner-page -->
