---
title: Marketing
page_title: Marketing
---

<div class="page inner-page">
  <!-- page title -->

  <div class="hero-mask template-hero-mask">
    <div class="hero template-hero">
      <div class="hero-content template-hero-content v1">
        <div class="container">
          <div class="row">
            <div class="template-headline">
              <h2 class="tag">Marketing V1</h2>
              <h4>This is our marketing template. Use wisely.</h4>
            </div>
          </div> <!-- row -->
        </div> <!-- container -->
      </div> <!-- hero-content -->
    </div> <!-- hero -->
  </div> <!-- hero-mask -->

  <div class="subhero-site-wrap">

    <section id="template-sub-hero">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2>Lorem Ipsum</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod risus nibh, lobortis tristique mauris hendrerit non. Proin bibendum nec magna ut lacinia. Cras vel consectetur nibh. Vivamus commodo, tortor at suscipit non pretium justo. Nam eu rutrum turpis. Duis scelerisque gravida rutrum.
            </p>
          </div>
        </div><!-- row -->
      </div><!-- container -->
    </section><!-- template-sub-hero -->

    <section class="white" id="template-contact">
      <%= partial "layouts/contact-form" %>
    </section>

  </div><!--  subhero-site-wrap -->
</div><!-- page inner-page -->
