---
title: Press
page_title: Press
---

<section class="page inner-page">
	<!-- page title -->

	<div class="inner-page-header" id="subheader">
		<div class="container">
			<div class="row">
				<h1 class="headline">Press</h1>
			</div>
		</div>
	</div><!-- page contents -->
	<article class="press">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>Coverage and Speaking Events</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<p><a href="http://www.infoq.com/news/2015/05/hashimoto-modern-datacenter">Automating the Modern Datacenter with Terraform and Consul</a> - InfoQ, 5/12/2015</p>
					<p><a href="http://www.eweek.com/security/hashicorp-debuts-open-source-vault-project-for-crypto-key-management.html">HashiCorp Debuts Open-Source Vault Project for Crypto Key Management</a> - eWeek, 5/01/2015</p>
					<p><a href="http://techcrunch.com/2015/04/28/hashicorp-attacks-credentials-security-with-open-source-secrets-manager/">HashiCorp Attacks Credentials Security With Open Source Secrets Manager</a> - TechCrunch, 4/28/2015</p>
					<p><a href="http://www.marketwired.com/press-release/hashicorp-launches-key-secret-manager-improve-simplify-modern-enterprise-security-2014196.htm">HashiCorp Launches a Key and Secret Manager to Improve and Simplify Modern Enterprise Security</a> - Market Wired, 4/28/2015</p>
					<p><a href="https://www.youtube.com/watch?v=P0yb6E_gNcI">[VIDEO] Mitchell Hashimoto on Automating the modern datacenter</a> - #TIAD, 3/19/2015</p>
					<p><a href="http://sdtimes.com/mitchell-hashimoto-hashicorp-vagrant-atlas-automate-world/">Mitchell Hashimoto is automating the world</a> - SD Times, 2/26/2015</p>
					<p><a href="https://451research.com/report-short?entityId=84308">Vagrant automation backer HashiCorp takes broader shot at application release with Atlas</a> - 451 Research, 2/13/2015</p>
					<p><a href="http://www.infoworld.com/article/2875439/open-source-software/the-top-10-rookie-open-source-projects.html">Open Source Rookies of the Year</a> - InfoWorld, 1/27/2015</p>
					<p><a href="http://structureresearch.net/2014/12/19/hashicorp-comes-out-of-stealth-with-atlas-and-10m-in-funding/">HashiCorp comes out of stealth with Atlas and $10m in funding</a> - Structure Research, 12/19/2014</p>
					<p><a href="http://www.enterpriseappstoday.com/management-software/hachicorp-raises-10m-to-advance-open-source-devops-vision.html">Hachicorp Raises $10M to Advance Open Source DevOps Vision</a> - Enterprise Apps Today, 12/10/2014</p>	
					<p><a href="http://blogs.wsj.com/venturecapital/2014/12/10/hashicorp-raises-10-million-to-automate-data-center-applications/">HashiCorp Raises $10 Million to Automate Data Center Applications</a> - Wall Street Journal, 12/10/2014</p>
					<p><a href="http://www.marketwired.com/press-release/hashicorp-launches-atlas-power-devops-application-delivery-on-any-infrastructure-public-1975584.htm">HashiCorp Launches Atlas to Power DevOps Application Delivery on Any Infrastructure -- Public, Private, and Hybrid</a> - Market Wired, 12/10/2014</p>
					<p><a href="http://www.marketwired.com/press-release/hashicorp-announces-10-million-in-growth-funding-to-bring-order-to-devops-1975583.htm">HashiCorp Announces $10 Million in Growth Funding to Bring Order to DevOps</a> - Market Wired, 12/10/2014</p>
					<p><a href="https://www.youtube.com/watch?v=eR0899h_1Ac">[VIDEO] Armon Dadgar presentation "Consul: Service Oriented at Scale"</a> - RICON 2014, 10/28/2014</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</article><!-- press -->


	<article class="media-kit">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>Brand Assets</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<p>HashiCorp assets are available to use for editorial and publishing purposes and can be <a href="/images/press-kit.zip" download>downloaded here.</a></p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</article><!-- press -->
</section><!-- page inner-page -->
