---
title: Press
page_title: Press
---

<section class="page inner-page">
	<!-- page title -->

	<div class="inner-page-header" id="subheader">
		<div class="container">
			<div class="row">
				<h1 class="headline">Press</h1>
			</div>
		</div>
	</div><!-- page contents -->
	<article class="press">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>Coverage and Speaking Events</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-3">
					<a href="http://futurestack.io/speakers/mitchell-hashimoto" target="_blank"><img height="30px" src="images/brands/future-stack-logo@2x.jpg"></a>
				</div>
				<div class="col-sm-3">
					<a href="http://techcrunch.com/2014/12/09/hashicorp-announces-new-devops-management-tool-and-10m-in-funding/" target="_blank"><img height="30px" src="images/brands/tc-logo@2x.jpg"></a>
				</div>
				<div class="col-sm-3">
					<a href="http://blogs.wsj.com/venturecapital/2014/12/10/hashicorp-raises-10-million-to-automate-data-center-applications/" target="_blank"><img height="30px" src="images/brands/wsj-logo@2x.jpg"></a>
				</div>
				<div class="col-sm-3">
					<a href="https://qconsf.com/users/armon-dadgar" target="_blank"><img height="30px" src="images/brands/qcon-logo@2x.jpg"></a>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</article><!-- press -->


	<article class="media-kit">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>Brand Assets</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<p>HashiCorp assets are available to use for editorial and publishing purposes and can be <a href="/images/press-kit.zip" download>downloaded here.</a></p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</article><!-- press -->
</section><!-- page inner-page -->
