---
title: Press
page_title: Press
---

<section class="page inner-page">
	<!-- page title -->

	<div class="inner-page-header" id="subheader">
		<div class="container">
			<div class="row">
				<h1 class="headline">Press</h1>
			</div>
		</div>
	</div><!-- page contents -->

	<article class="releases">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>Press Releases</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<p><a href="http://www.marketwired.com/press-release/hashicorps-atlas-leaves-beta-with-triple-digit-monthly-revenue-growth-mozilla-cisco-2036398.htm">HashiCorp's Atlas Leaves Beta With Triple Digit Monthly Revenue Growth and Mozilla, Cisco, and Capgemini as Headline Customers</a> - 7/08/2015</p>
					<p><a href="http://www.marketwired.com/press-release/hashicorp-launches-key-secret-manager-improve-simplify-modern-enterprise-security-2014196.htm">HashiCorp Launches a Key and Secret Manager to Improve and Simplify Modern Enterprise Security</a> - 4/28/2015</p>
					<p><a href="http://www.marketwired.com/press-release/hashicorp-launches-atlas-power-devops-application-delivery-on-any-infrastructure-public-1975584.htm">HashiCorp Launches Atlas to Power DevOps Application Delivery on Any Infrastructure -- Public, Private, and Hybrid</a> - 12/10/2014</p>
					<p><a href="http://www.marketwired.com/press-release/hashicorp-announces-10-million-in-growth-funding-to-bring-order-to-devops-1975583.htm">HashiCorp Announces $10 Million in Growth Funding to Bring Order to DevOps</a> - 12/10/2014</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</article><!-- press releases -->

	<article class="press">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>Media and Analyst Coverage</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<p><a href="http://www.infoq.com/news/2015/09/hashicorp-vault">Storing Secrets at Scale with HashiCorp's Vault: Q&amp;A with Armon Dadgar</a> - InfoQ, 9/09/2015</p>
					<p><a href="http://www.forbes.com/sites/justinwarren/2015/09/06/hashicorp-adds-support-vmware-vcloud-air/">HashiCorp Adds Support For VMware vCloud Air</a> - Forbes, 9/06/2015</p>
					<p><a href="http://devops.com/2015/08/07/9-open-source-devops-tools-love/">9 Open Source DevOps Tools We Love</a> - DevOps.com, 8/07/2015</p>
					<p><a href="http://www.eweek.com/enterprise-apps/hashicorp-unveils-devops-data-center-automation-toolset.html">HashiCorp Unveils DevOps Data Center Automation Toolset</a> - eWeek, 7/13/2015</p>
					<p><a href="http://devops.com/2015/07/09/hashicorp-unites-open-source-devops-tools-with-atlas-2/">HashiCorp unites open source DevOps tools with Atlas</a> - DevOps.com, 7/09/2015</p>
					<p><a href="http://www.infoq.com/news/2015/07/hashicorp-atlas-public-release">HashiCorp Publicly Release Atlas, a Version Control System for Infrastructure</a> - InfoQ, 7/08/2015</p>
					<p><a href="http://formtek.com/blog/hashicorp-atlas-automating-devops-application-delivery-on-any-infrastructure/">HashiCorp Atlas: Automating DevOps Application Delivery on Any Infrastructure</a> - Formtek, 7/08/2015</p>
					<p><a href="http://sdtimes.com/sd-times-100/sd-times-100-2015-top-of-the-heap/">SD Times 100 2015: Top of the Heap</a> - SD Times, 5/30/2015</p>
					<p><a href="http://thenewstack.io/using-vault-to-manage-your-apps-secrets/">Using Vault to Manage Your App’s Secrets</a> - The New Stack, 5/14/2015</p>					
					<p><a href="http://www.infoq.com/news/2015/05/hashimoto-modern-datacenter">Automating the Modern Datacenter with Terraform and Consul</a> - InfoQ, 5/12/2015</p>
					<p><a href="http://www.eweek.com/security/hashicorp-debuts-open-source-vault-project-for-crypto-key-management.html">HashiCorp Debuts Open-Source Vault Project for Crypto Key Management</a> - eWeek, 5/01/2015</p>
					<p><a href="http://techcrunch.com/2015/04/28/hashicorp-attacks-credentials-security-with-open-source-secrets-manager/">HashiCorp Attacks Credentials Security With Open Source Secrets Manager</a> - TechCrunch, 4/28/2015</p>
					<p><a href="http://www.forbes.com/sites/benkepes/2015/04/28/hashicorp-announces-yet-another-open-source-project-this-time-key-management/">HashiCorp Announces Yet Another Open Source Project--This Time Key Management</a> - Forbes, 4/28/2015</p>
					<p><a href="http://www.kavistechnology.com/blog/mitchell-hashimoto-discusses-atlas-vagrant-and-automation/">Mitchell Hashimoto discusses Atlas, Vagrant, and Automation</a> - Kavis Technology Consulting Blog, 4/01/2015</p>
					<p><a href="http://sdtimes.com/mitchell-hashimoto-hashicorp-vagrant-atlas-automate-world/">Mitchell Hashimoto is automating the world</a> - SD Times, 2/26/2015</p>
					<p><a href="https://451research.com/report-short?entityId=84308">Vagrant automation backer HashiCorp takes broader shot at application release with Atlas</a> - 451 Research, 2/13/2015</p>
					<p><a href="http://thenewstack.io/new-stack-mitchell-hashimoto-containers-no-containers-one-question-2015/">Mitchell Hashimoto: Containers or No Containers? That is One Question for 2015</a> - The New Stack, 2/01/2015</p>
					<p><a href="http://www.infoworld.com/article/2875439/open-source-software/the-top-10-rookie-open-source-projects.html">Open Source Rookies of the Year</a> - InfoWorld, 1/27/2015</p>
					<p><a href="http://thenewstack.io/new-stack-makers-mitchell-hashimoto-vagrant-containers-growing-open-source/">The New Stack Makers: Mitchell Hashimoto on Vagrant, Containers and Growing Up with Open Source</a> - The New Stack, 1/18/2015</p>					
					<p><a href="http://www.infoworld.com/article/2866574/devops/7-cool-tools-for-doing-devops-right.html?null">7 cool tools for doing devops right</a> - InfoWorld, 1/08/2015</p>
					<p><a href="http://searchdatacenter.techtarget.com/news/2240237521/Six-data-center-trends-to-expect-in-2015">Six data center trends to expect in 2015</a> - SearchDataCenter, 1/05/2015</p>
					<p><a href="http://structureresearch.net/2014/12/19/hashicorp-comes-out-of-stealth-with-atlas-and-10m-in-funding/">HashiCorp comes out of stealth with Atlas and $10m in funding</a> - Structure Research, 12/19/2014</p>
					<p><a href="http://www.enterpriseappstoday.com/management-software/hachicorp-raises-10m-to-advance-open-source-devops-vision.html">Hachicorp Raises $10M to Advance Open Source DevOps Vision</a> - Enterprise Apps Today, 12/10/2014</p>	
					<p><a href="http://blogs.wsj.com/venturecapital/2014/12/10/hashicorp-raises-10-million-to-automate-data-center-applications/">HashiCorp Raises $10 Million to Automate Data Center Applications</a> - Wall Street Journal, 12/10/2014</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</article><!-- press -->

	<article class="events">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>Events</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<p><a href="https://www.youtube.com/watch?v=P0yb6E_gNcI">[VIDEO] Mitchell Hashimoto on Automating the modern datacenter</a> - #TIAD, 3/19/2015</p>
					<p><a href="https://www.youtube.com/watch?v=eR0899h_1Ac">[VIDEO] Armon Dadgar presentation "Consul: Service Oriented at Scale"</a> - RICON 2014, 10/28/2014</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</article><!-- events -->

	<article class="media-kit">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>Brand Assets</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<p>HashiCorp assets are available to use for editorial and publishing purposes and can be <a href="/images/press-kit.zip" download>downloaded here.</a></p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</article><!-- press -->
</section><!-- page inner-page -->
