---
title: About
page_title: About
---

<div class="page inner-page">
  <!-- page title -->

  <div id="template-hero-mask" class="hero-mask">
    <div id="template-hero" class="hero">
      <div id="template-hero-content" class="hero-content">
        <div class="container">
          <div class="row">
            <div class="template-headline">
              <h2 class="tag">The Tao of HashiCorp</h2>
              <h4>The Tao of HashiCorp is the foundation that guides our vision, roadmap, and product design. As you evaluate using or contributing to HashiCorp's products, it may be valuable to understand the motivations and intentions for our work.</h4>
            </div>
          </div> <!-- row -->
        </div> <!-- container -->
      </div> <!-- hero-content -->
    </div> <!-- hero -->
  </div> <!-- hero-mask -->

  <div class="subhero-site-wrap">

    <section id="tao-features">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h2>Workflows, not Technologies</h2>
            <p>
              The HashiCorp approach is to focus on the end goal and workflow, rather than the underlying technologies. Software and hardware will evolve and improve, and it is our goal to make adoption of new tooling simple, while still providing the most streamlined user experience possible. Product design starts with an envisioned workflow to achieve a set goal. We then identify existing tools that simplify the workflow. If a sufficient tool does not exist, we step in to build it. This leads to a fundamentally technology-agnostic view — we will use the best technology available to solve the problem. As technologies evolve and better tooling emerges, the ideal workflow is just updated to leverage those technologies. Technologies change, end goals stay the same.
            </p>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="graphic"></div>
          </div>
        </div><!-- row -->
      </div><!-- container -->
    </section><!-- tao-features -->

  </div><!--  subhero-site-wrap -->
</div><!-- page inner-page -->
