---
title: About
page_title: About
---

<div class="page inner-page">
  <!-- page title -->

  <div class="hero-mask template-hero-mask">
    <div class="hero template-hero">
      <div class="hero-content template-hero-content">
        <div class="container">
          <div class="row">
            <div class="template-headline">
              <h2 class="tag">The Tao of HashiCorp</h2>
              <h4>The Tao of HashiCorp is the foundation that guides our vision, roadmap, and product design. As you evaluate using or contributing to HashiCorp's products, it may be valuable to understand the motivations and intentions for our work.</h4>
            </div>
          </div> <!-- row -->
        </div> <!-- container -->
      </div> <!-- hero-content -->
    </div> <!-- hero -->
  </div> <!-- hero-mask -->

  <div class="subhero-site-wrap">

    <section id="tao-features">
      <div class="container">
        <div class="row t1">
          <div class="col-md-8 col-sm-12">
            <h2>Workflows, not Technologies</h2>
            <p>
              The HashiCorp approach is to focus on the end goal and workflow, rather than the underlying technologies. Software and hardware will evolve and improve, and it is our goal to make adoption of new tooling simple, while still providing the most streamlined user experience possible. Product design starts with an envisioned workflow to achieve a set goal. We then identify existing tools that simplify the workflow. If a sufficient tool does not exist, we step in to build it. This leads to a fundamentally technology-agnostic view — we will use the best technology available to solve the problem. As technologies evolve and better tooling emerges, the ideal workflow is just updated to leverage those technologies. Technologies change, end goals stay the same.
            </p>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="graphic"></div>
          </div>
        </div><!-- row t1-->
        <div class="row t2">
          <div class="col-md-4 col-sm-12">
            <div class="graphic"></div>
          </div>
          <div class="col-md-8 col-sm-12">
            <h2>Simple, Modular, Composable</h2>
            <p>
              The Unix philosophy is widely known for preaching the virtues of software that is simple, modular and composable. This approach prefers many smaller components with well defined scopes that can be used together. The alternative approach is monolithic, in which a single tool has a nebulous scope that expands to encompass new features and capabilities. We like to think of the components as blocks that are functional on their own, and can be combined in new and innovative ways.
            </p>
            <p>
              The simple, modular, composable approach allows us to build products at a higher level of abstraction. Rather than solving the holistic problem, we break it down into constituent parts, and solve those. We build the best possible solution for the scope of each problem, and then combine the blocks to form a solid, full solution.
            </p>
          </div>
        </div><!-- row t2-->
        <div class="row t3">
          <div class="col-md-8 col-sm-12">
            <h2>Communicating Sequential Processes</h2>
            <p>
              Given our belief in simple, modular, composable software, we have several tenets for combining those pieces into a connected system. Communicating Sequential Processes (CSP) is a model of computation wherein autonomous processes connected via a network are able to communicate. We believe that the CSP approach is necessary for managing complexity and building robust scalable systems in a Service Oriented Architecture. Each service should be treated as an individual process that then communicates with other services via an API.
            </p>
            <p>
              CSP represents the best known way to write software and organize services together to form a system. Nature itself provides the best examples; even the human body is a system of interconnected services — respiratory, cardiovascular, nervous, immune, etc.
            </p>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="graphic"></div>
          </div>
        </div><!-- row t3-->
      </div><!-- container -->
    </section><!-- tao-features -->

  </div><!--  subhero-site-wrap -->
</div><!-- page inner-page -->
